.dheading{
	margin-left: 29px;
}
.dtitle span{
	float: left;
}
.fa-map-marker{
	    font-size: 36px;
		color: #f17b01;
    margin-right: 15px;
}
.dtitle{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) 1px 1px 9px -5px;
    background-color: rgb(247, 247, 247);
	    height: 76px;
    border: 1px solid gray;
    margin-bottom: 30px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 1px 9px -5px grey;
    box-shadow: 1px 1px 9px -5px grey;
    padding-left: 20px;
    padding-right: 20px;
}
.dtitle1{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) 1px 1px 9px -5px;
    background-color: rgb(247, 247, 247);
	height: 131px;
    border: 1px solid gray;
    margin-bottom: 30px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 1px 9px -5px grey;
    box-shadow: 1px 1px 9px -5px grey;
    padding-left: 20px;
    padding-right: 20px;
}
.dtitle4{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) 1px 1px 9px -5px;
    background-color: rgb(247, 247, 247);
	height: auto;
    border: 1px solid gray;
    margin-bottom: 30px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 1px 9px -5px grey;
    box-shadow: 1px 1px 9px -5px grey;
    padding-left: 20px;
    padding-right: 20px;
}
.getadd{
	border-radius: 0;
    border-color: rgba(65,65,66,.2);
    height: 45px;
    font-size: 18px;
    width: 100%;
}
.dtitle4 .fa-map-marker{
	font-size: 20px;
    margin-left: 6px;
    margin-right: 14px;
}
.dlogin{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) 1px 1px 9px -5px;
    background-color: rgb(247, 247, 247);
	height: auto;
	text-align: center;
    border: 1px solid gray;
    margin-bottom: 30px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 1px 9px -5px grey;
    box-shadow: 1px 1px 9px -5px grey;
    padding-left: 20px;
    padding-right: 20px;
	padding-bottom: 20px;
}
.locahead span{
	 float: none !important;
    font-size: 20px;
}
.dlogin .fd-button--primary {
    background: #f7f7f7;
    border: 1px solid gray;
	background-color: rgb(247, 247, 247);
    border-color: rgb(53, 51, 121);
	height: 45px;
	width: 120px;
    border: 0;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: background-color .1s linear;
    -o-transition: background-color linear .1s;
    transition: background-color .1s linear;
	    border: 1px solid #3997d1;
}
.fd-button--primary h3{
	    margin-top: 5px !important;
}
.dlogin h3{
	font-size: 18px!important;
    font-weight: 400!important;
    line-height: 1.1!important;
	
    padding: 0!important;
}
.dtitle2{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) 1px 1px 9px -5px;
    background-color: rgb(247, 247, 247);
	height: 131px;
    border: 1px solid gray;
    margin-bottom: 30px;
    background: #f7f7f7;
    -webkit-box-shadow: 1px 1px 9px -5px grey;
    box-shadow: 1px 1px 9px -5px grey;
    padding-left: 20px;
    padding-right: 20px;
}
.dtitle1:hover{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) -2px 2px 9px -5px;
    background-color: rgb(247, 247, 247);
	cursor:pointer;
}
.dtitle:hover{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) -2px 2px 9px -5px;
    background-color: rgb(247, 247, 247);
	cursor:pointer;
}
.dtitle2:hover{
	border-color: rgb(53, 51, 121);
    box-shadow: rgb(53, 51, 121) -2px 2px 9px -5px;
    background-color: rgb(247, 247, 247);
	cursor:pointer;
}
.delivery__cell {
    padding: 15px;
    margin-bottom: 15px;
    
    -webkit-transition: border-color .1s linear,box-shadow .1s linear,background-color .1s linear;
    -o-transition: border-color linear .1s,box-shadow linear .1s,background-color linear .1s;
    -webkit-transition: border-color .1s linear,background-color .1s linear,-webkit-box-shadow .1s linear;
    transition: border-color .1s linear,background-color .1s linear,-webkit-box-shadow .1s linear;
    transition: border-color .1s linear,box-shadow .1s linear,background-color .1s linear;
    transition: border-color .1s linear,box-shadow .1s linear,background-color .1s linear,-webkit-box-shadow .1s linear;
}
.dtitle1 h3{
	font-size: 18px!important;
    font-weight: 400!important;
    line-height: 1.1!important;
    padding: 0!important;
}
.delivery__cell__map {
    width: auto;
    height: 98px;
    float: right;
    -webkit-transition: border-color .1s linear;
    -o-transition: border-color linear .1s;
    transition: border-color .1s linear;
}
.delivery__cell__map img{
	    border: 1px solid #ccc;
}
.maddress{
width: 100%;
    padding: 13px;
    margin: 2px 2px 2px 2px;
}
.setadd{
	    cursor: pointer;
}
.getadd1{
	    cursor: pointer;
}
.cnbutt{
	/*width: 86%;*/
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff860a;
    color: white;
    font-size: 37px;
   padding: 16px 298px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.cnbutt1{
	width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff860a;
    color: white;
    font-size: 37px;
    padding: 5px 9px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.cnbutt1 span{
	background: #ff860a;
    color: #fff;
	font-size: 61px;
}
#checkadd{
	padding: 44px;
	font-size: 44px;
}