
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:red;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  .nav-tabs {
          padding: 10px 0;
      }
      .btn-toggle .active {
        background: #379ed0 !important;
        font-weight: 400 !important;
        color: white !important;
      }
      
      .btn-toggle  {  border: 1px solid #e2e0e0;
          border-radius: 25px; margin: 10px; }
  
        .restaurant-detailed-banner .img-fluid.cover {
          height: 300px;
          object-fit: cover;
          width: 100%;
      }
      .nav-tabs {
          border-bottom: 0px solid #dee2e6 !important;
      }
      .alert-danger { display: none; }
   
      .progressbar {
        counter-reset: step;
      }
      
      .progressbar li {
        position: relative;
        list-style: none;
        float: left;
        width: 47.33%;
        text-align: center;
      }
      
      /* Circles */
      .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        height: 40px;
        border: 1px solid #2979FF;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: #FF9100;
         
        /* Center # in circle */
        line-height: 39px;
      }
      
      .progressbar li:after {
        content: "";
          position: absolute;
        width: 90%;
          height: 1px;
          background: orange;
          top: 20px;
          left: -45%;
          z-index: 0;
      }
      
      .progressbar li:first-child:after {
        content: none;
      }
      
      .progressbar li.active:before {
        background: #00E676;
        content: "✔";  
      }
      
      .progressbar li.active + li:after {
        background: #00E676;
      }
      .itemNotes {width: 99%;
          text-align: left;
          font-size: 10px;
          color: #7a7a7a;
          line-height: 18px;
          font-style: initial;}
          .cart_item_pr {float: right; }
          .cart_thumb { object-fit: cover; height: 50px; width: 50px; -moz-border-radius:7px; border-radius:7px; border: 1px solid #e3e3e4; }
          #addonModalLabel { font-size: 27px; font-weight: 700; }
          #searchclear {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          height: 14px;
          margin: auto;
          font-size: 14px;
          cursor: pointer;
          color: #ccc;
        }
      .itemTit { font-size:14px; }
      .addOn { border-top: none; padding: 5px 2px;
              padding-left: 20px; }
          .list-group-item {
              border: none;
          }
          .list-card.bg-white.rounded.overflow-hidden.position-relative.shadow-sm {
            margin: 0 10px;
              border-radius: 50px;
              border: 1px solid #f2f1f1;
              border-radius: 10px !important;
              box-shadow: 20;
              box-shadow: 1px 1px 1px 1px #f2f1f1 !important;
          }
          .row {  --bs-gutter-x: 0; }
          .card { border:none; }
          .btn small { display:block; font-size: 12px;}
          .p-3 {
              padding: 0 1rem !important;
          }
          
          .bg_white { background: #fff; }
          .text-red { color:#ea5f5f; font-size:10px; cursor:default; float:right !important;  }
          .count-number .btn { border-radius: 20px; margin: 0 30px; }
          .count-number-input { color:black;background: #f8f8f8;
              border: .5px solid #bbbbbb1c;   
         }
      
         .btn-group .btn-lg {
            padding: 5px !important;
            border-radius: 25px;
            width: 100%;
          background: #fff;
         }
         .btn-group .btn-lg .active {
            border-radius: 25px;
         }
         .disable-click{
            pointer-events:none;
         }
         .pay_loading { display: none;}