.bMOWYr {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: #ea5800;
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.gUWngk {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.kYPEPF {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(255, 255, 255);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.kHghik {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.uPRik {
	font-size: 12px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.epYWVF {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(0, 131, 138);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.hgWBQP {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hWUGbm {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.hJTLAB {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	text-align: center;
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.jrHzcp {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	text-align: center;
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.eUEkRh {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.gdebvC {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.eEdxFA {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(73, 73, 73);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.gImhEG {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.huydyu {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	font-variant-ligatures: no-common-ligatures;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 40px;
	white-space: normal;
}

.gFZYcj {
	font-size: 12px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.gpVEYP {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.xdlgy {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.kbQxaH {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	text-align: center;
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.cRcLcC {
	max-width: 100%;
	margin-bottom: 0px;
}

.briptM {
	max-width: 100%;
	margin-bottom: 12px;
}

.eFQNxo {
	max-width: 100%;
}

.ehYpUn {
	max-width: 100%;
}

.Ieerz {
	max-width: 100%;
}

.Ieerz>*+* {
	margin-top: 4px!important;
}

.fXOWRH {
	max-width: 100%;
	padding: 0px;
}

.kIgbFW {
	max-width: 100%;
	padding: 6px 12px;
}

.TdAuw {
	max-width: 100%;
	padding: 16px;
}

.bXWAyj {
	max-width: 100%;
	margin-right: 8px;
}

.fBVKW {
	max-width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.fBVKW>*+* {
	margin-left: 16px!important;
}

.kXjjDO {
	max-width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.kXjjDO>*+* {
	margin-left: 2px!important;
}

.jkNelo {
	max-width: 100%;
	display: flex;
	align-items: flex-end;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.etBbIV {
	max-width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.etBbIV>*+* {
	margin-left: 4px!important;
}

.hWGisA {
	max-width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.hWGisA>*+* {
	margin-left: 16px!important;
}

.escEEY {
	max-width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.escEEY>*+* {
	margin-left: 4px!important;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	font-variant-ligatures: no-common-ligatures;
	margin: 0px;
	padding: 0px;
}

.ipJBfZ {
	position: relative;
	z-index: 0;
}

.gQKxVj {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.fyyYZp {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dfAUFz {
	-webkit-box-flex: 1;
	flex-grow: 1;
	max-width: 100%;
	transition: opacity 0.15s ease-in-out 0s;
	opacity: 1;
}

.cwvsJY {
	display: block;
	width: 100%;
	margin: 0px;
	height: 8px;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-top: 1px solid rgb(231, 231, 231);
	border-bottom: 1px solid rgb(231, 231, 231);
	background: rgb(247, 247, 247);
}

.fVnPvV {
	display: block;
	width: 100%;
	margin: 0px;
	border: none;
	height: 1px;
	background: rgb(231, 231, 231);
}

.bmEQqR {
	width: 100%;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.kRGjYi {
	width: 100%;
	padding-left: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.dTAXPs {
	display: inline-flex;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	vertical-align: middle;
	height: 27px;
}

.kiVWLQ {
	line-height: 0;
	margin-left: 13px;
}

.hygolV {
	display: flex;
	min-height: 32px;
}

.cELCnL {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: rgb(25, 25, 25);
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	border-radius: 4px;
	z-index: 1;
	border: none;
	box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
	background-color: rgb(255, 255, 255);
}

.hWBrAj {
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.cVevTH {
	width: 100%;
}

.fEJYvd {
	display: flex;
}

.dBiBOk {
	width: 340px;
	min-width: 340px;
	background-color: rgb(255, 255, 255);
	height: calc(100vh - 48px);
	overflow-y: auto;
	position: fixed;
	z-index: 100;
	top: 65px;

}

.fSURUy {
	border-left: 1px solid rgb(214, 214, 214);
	right: 0px;
}

.hCivtC {
	display: flex;
	flex-direction: column;
	min-height: 33vh;
	position: relative;
	width: 100%;
}

.gFQMgh {
	border-top: 1px solid rgb(214, 214, 214);
	background-color: rgb(255, 255, 255);
	z-index: 1;
}

.fxBLBE {
	flex: 1 1 0%;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.fxBLBE>* {
	padding-top: 32px;
	display: flex;
	flex-direction: column;
}

.fxBLBE>*>*+* {
	margin-top: 8px;
}

.fxBLBE>*> :first-child {
	margin-bottom: 8px;
}

.duyHwT {
	flex: 1 1 0%;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	overflow: hidden;
}

.duyHwT>* {
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.duyHwT>*>*+* {
	margin-top: 12px;
}

.dRLbqF {
	display: flex;
}

.eEIkVb {
	display: flex;
}

.hWWvHB {
	padding-top: 32px;
	padding-bottom: 32px;
	flex: 1 1 0%;
}

.hWWvHB> :first-child {
	margin-bottom: 8px;
}

.jVwJVV {
	padding-top: 32px;
	padding-bottom: 32px;
	flex: 2 1 0%;
}

.jVwJVV> :first-child {
	margin-bottom: 8px;
}

.zAyQA {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.igtFc {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
}

.igtFc>* {
	margin-top: 8px;
}

.fIKYLX {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 32px 0px;
}

.fIKYLX>* {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.fIKYLX>*>*+* {
	margin-left: 12px;
}

.diUxcQ {
	max-width: 1160px;
	padding: 0px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.diUxcQ .sc-kPVwWT {
	flex-wrap: wrap;
}

.gykBRH {
	max-width: calc(100vw - 340px);
	margin: 0px;
}

.fFHnHa {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: filter 0.2s ease 0s;
}

.fFHnHa:visited {
	color: inherit;
}

.fFHnHa:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.dexWoU:hover {
	color: rgb(25, 25, 25);
	text-decoration: underline;
}

.klxUQc {
	opacity: 0.7;
	cursor: pointer;
	transition: opacity 0.2s ease 0s;
	text-decoration: none;
	color: inherit;
}

.klxUQc:visited {
	color: inherit;
}

.klxUQc:hover {
	opacity: 1;
}

.gRMqtJ {
	padding: 2px 8px;
	border-radius: 8px;
	background-color: rgb(73, 73, 73);
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.hKYRF {
	margin: 0px 4px;
}

.edYeSi {
	position: relative;
	padding-top: 48px;
}

.iXWfEX {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 65px;
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background-color: rgb(0 0 0);
	border-bottom: 1px solid rgb(214, 214, 214);
}

.ceQcxC {
	flex: 1 1 0%;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	position: absolute;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 200px;
}

.hjEJn {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.eDxxEm {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.eDxxEm>*+* {
	margin-left: 12px;
}

.bNvDkI {
	margin-right: 24px;
	margin-left: 24px;
}

.aYONV {
	padding: 0px 6px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
}

.jCSrzt {
	display: flex;
	border-radius: 1000px;
	width: 100%;
	background-color: rgb(231, 231, 231);
}

.jCSrzt>* {
	flex: 1 1 0%;
	border-radius: 0px!important;
}

.jCSrzt>*+* {
	margin-left: -1px!important;
}

.jCSrzt> :first-child {
	border-top-left-radius: 1000px!important;
	border-bottom-left-radius: 1000px!important;
}

.jCSrzt> :last-child {
	border-top-right-radius: 1000px!important;
	border-bottom-right-radius: 1000px!important;
}

.jCSrzt> :nth-child(1) {
	z-index: 1!important;
}

.jCSrzt> :nth-child(1) {
	border-radius: 1000px!important;
}

.jCSrzt> :nth-child(2) {
	padding-left: 12px;
	margin-left: -12px!important;
}

.gwzFHb {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.giHUoN>*>*>*>div {
	border-radius: 20px;
}

.kTNNzI {
	margin-left: 24px;
}

.lkeFLv {
	margin: 20px 0px;
}

.lkeFLv>svg {
	width: 100%;
}

.hiLuXp {
	position: relative;
	padding-bottom: calc(100%);
}

.iKarLG {
	height: 100%;
	width: 100%;
}

.kUZeaJ {
	object-fit: cover;
	width: 100%;
	height: 100%;
	inset: 0px;
	transform: translateZ(0px);
}

.kfemsU {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0px;
	transform: translateZ(0px);
}

.gjWbIB {
	margin-top: -4px;
}

.dFZIkT {
	text-align: center;
}

.dFZIkT:only-child {
	margin-top: 1px;
}

.iKFaHY {
	position: relative;
	max-width: 960px;
}

@media screen and (min-width: 768px) {
	.iKFaHY {
		margin: 24px auto 0px;
		padding: 0px 16px;
		height: 290px;
	}
}

.jtKIqE {
	z-index: 1;
	height: 274px;
}

@media screen and (max-width: 480px) {
	.jtKIqE {
		clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 80%);
	}
}

.jtKIqE .sc-cZBZkQ {
	height: 274px;
	clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 80%);
}

@media screen and (min-width: 768px) {
	.jtKIqE .sc-cZBZkQ {
		height: 250px;
		clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 40px;
	}
}

.cCBFrw {
	z-index: 2;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 0px;
	left: 16px;
	border-radius: 50%;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}

.cCBFrw .sc-cZBZkQ {
	height: 76px;
}

@media screen and (min-width: 768px) {
	.cCBFrw {
		left: 32px;
	}
}

.gqyxRS {
	position: relative;
	max-width: 960px;
	margin: 0px auto;
	padding: 16px 16px 24px;
}

.jRIHjQ {
	margin-top: 16px;
}

@media screen and (min-width: 768px) {
	.jRIHjQ {
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
}

.gOXekJ {
	max-width: 480px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 8px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-evenly;
}

@media screen and (min-width: 480px) {
	.gOXekJ {
		width: 343px;
		max-width: 343px;
	}
}

.khhnXJ {
	margin-top: 1px;
}

.drHKbC {
	width: 1px;
	height: 28px;
	background-color: rgb(231, 231, 231);
}

.bzKTjf {
	flex: 1 1 0%;
	margin: 4px;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 52px;
	border-radius: 8px;
}

.fFPvuM {
	margin-top: -4px;
}

.flTxGK {
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 16px;
}

@media screen and (min-width: 768px) {
	.flTxGK {
		margin-top: 0px;
	}
}

.dqQTaJ {
	margin-top: 4px;
}

@media screen and (min-width: 768px) {
	.dqQTaJ {
		display: flex;
		-webkit-box-align: center;
		align-items: center;
	}
}

.bNtgwh {
	display: none;
}

@media screen and (min-width: 768px) {
	.bNtgwh {
		display: inline;
		padding: 0px 2px;
	}
}

.hGoDxa {
	max-width: 300px;
}

.jqhBsO {
	max-width: 960px;
	margin: 0px auto;
	padding: 16px 16px 8px;
}

.dSjHgi {
	padding: 0px 4px;
}

.dFEKWZ {
	align-self: stretch;
}

.fhzVCt {
	max-width: calc(100vw - 340px);
}

.dYDSKf {
	z-index: 99;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	bottom: 16px;
}

.hPGTRL {
	text-align: center;
	margin: 24px 20px;
	color: rgb(118, 118, 118);
}

.hPGTRL a {
	text-decoration: none;
	color: rgb(0, 131, 138);
}

.dcyxXs {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	max-width: 960px;
	padding: 0px;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.dcyxXs {
		padding: 0px 16px;
	}
}

.dmagGj {
	padding: 0px 16px;
	margin: 16px 0px;
}

@media screen and (min-width: 768px) {
	.dmagGj {
		padding: 0px;
	}
}

.enJjmM {
	display: flex;
	flex: 5 1 0%;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	break-inside: avoid;
	text-align: left;
	transition: border-color 0.25s ease 0s;
}

@media screen and (min-width: 768px) {
	.enJjmM {
		border: 1px solid rgb(231, 231, 231);
		border-radius: 4px;
	}
	.enJjmM:hover {
		border: 1px solid rgb(214, 214, 214);
		cursor: pointer;
	}
}

.jHAvjE {
	padding: 16px;
	min-width: 125px;
	max-width: 125px;
}

@media screen and (min-width: 768px) {
	.jHAvjE {
		padding: 0px;
		flex: 2 1 0%;
	}
}

.jHAvjE img {
	border-radius: 4px;
}

@media screen and (min-width: 768px) {
	.jHAvjE img {
		border-radius: 0px 4px 4px 0px;
	}
}

.cVKLQx {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.hpYVVb {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 16px 0px 16px 16px;
	height: 125px;
	max-width: 100%;
	min-width: 0px;
}

@media screen and (min-width: 768px) {
	.hpYVVb {
		padding-right: 16px;
	}
}

.jTcwon {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 16px;
	height: 125px;
	max-width: 100%;
}

.bXSpWo {
	flex-shrink: 0;
}

.kVXfoC {
	column-count: 1;
}

@media screen and (min-width: 768px) {
	.kVXfoC {
		column-count: 2;
	}
}

.dsrBgM {
	width: 100%;
}

.dGowRX {
	margin-top: 4px;
}

.jtsozQ {
	margin: 0px 4px;
	text-align: center;
}

.cWXihH {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.cWXihH:visited {
	color: inherit;
}

.cWXihH:hover {
	text-decoration: underline;
}

.dYLBDr {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	max-width: 960px;
	margin: 16px auto;
}

.gWsXWT {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.hKppTj {
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.egynzI {
		display: none;
	}
}

.bGftxB {
	display: flex;
	margin: 0px auto;
	padding: 16px 16px 0px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(231, 231, 231);
	position: sticky;
	top: 65px;
	z-index: 98;
	max-width: 960px;
}

.fXiVAf {
	flex: 1 1 0%;
	overflow-x: scroll;
	white-space: nowrap;
}

.fXiVAf::-webkit-scrollbar {
	display: none;
}

.eTXuxD {
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 6px;
	position: absolute;
	left: 48px;
	top: 0px;
	-webkit-mask-image: linear-gradient(90deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 32px, rgba(255, 255, 255, 0) 100%);
}

.eNsFNT {
	display: inline-block;
	margin: -6px 16px 0px -6px;
}

.cMwejO {
	position: relative;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	height: 100%;
	vertical-align: middle;
	margin-left: 24px;
}

.cMwejO:first-child {
	margin-left: 0px;
}

.fvhNYL {
	position: absolute;
	bottom: 0px;
	height: 4px;
	background-color: rgb(25, 25, 25);
	width: 100%;
	border-radius: 8px 8px 0px 0px;
}

.dKinUh {
	padding-bottom: 12px;
}

.ljOvPz {
	position: relative;
	max-width: 100%;
	margin: 0px;
	display: inline-flex;
	min-height: 40px;
	border-radius: 40px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: transparent 0px 0px 0px 1px inset;
	width: 40px;
	height: 40px;
	padding: 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.ljOvPz:focus {
	outline: none;
}

.ljOvPz:hover {
	background-color: rgb(247, 247, 247);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.ljOvPz:active {
	background-color: rgb(231, 231, 231);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.jONkLo {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	width: auto;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	box-shadow: rgba(165, 211, 242, 0) 0px 0px 0px 3px;
}

.jONkLo * {
	transition: color 0.15s ease-in-out 0s;
}

.jONkLo:focus {
	outline: none;
}

.jONkLo:hover * {
	color: rgb(217, 20, 0);
}

.jONkLo:active * {
	color: rgb(183, 16, 0);
}

.bfFYGU {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	min-height: 32px;
	width: auto;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: #ea5800;
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.bfFYGU:focus {
	outline: none;
}

.bfFYGU:hover {
	background-color: rgb(217, 20, 0);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.bfFYGU:active {
	background-color: rgb(183, 16, 0);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.bQZIbd {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	min-height: 32px;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	border-radius: 1000px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: rgb(231, 231, 231);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.bQZIbd:focus {
	outline: none;
}

.bQZIbd:hover {
	background-color: rgb(214, 214, 214);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.bQZIbd:active {
	background-color: rgb(196, 196, 196);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.gFpHzb {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	min-height: 32px;
	width: auto;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	border-radius: 1000px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: rgb(25, 25, 25);
	box-shadow: rgb(25, 25, 25) 0px 0px 0px 1px inset;
}

.gFpHzb:focus {
	outline: none;
}

.gFpHzb:hover {
	background-color: rgb(96, 96, 96);
	box-shadow: rgb(96, 96, 96) 0px 0px 0px 1px inset;
}

.gFpHzb:active {
	background-color: rgb(73, 73, 73);
	box-shadow: rgb(73, 73, 73) 0px 0px 0px 1px inset;
}

.cfqupE {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	min-height: 32px;
	width: auto;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	border-radius: 1000px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: rgb(231, 231, 231);
	box-shadow: rgb(231, 231, 231) 0px 0px 0px 1px inset;
}

.cfqupE:focus {
	outline: none;
}

.cfqupE:hover {
	background-color: rgb(247, 247, 247);
	box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.cfqupE:active {
	background-color: rgb(214, 214, 214);
	box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
}

.haDTdT {
	position: relative;
	max-width: 100%;
	margin: 0px;
	display: inline-flex;
	min-height: 32px;
	border-radius: 32px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: transparent 0px 0px 0px 1px inset;
	width: 32px;
	height: 32px;
	padding: 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.haDTdT:focus {
	outline: none;
}

.haDTdT:hover {
	background-color: rgb(247, 247, 247);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.haDTdT:active {
	background-color: rgb(231, 231, 231);
	box-shadow: transparent 0px 0px 0px 1px inset;
}

.kApZSJ {
	position: relative;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	user-select: none;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	box-shadow: rgba(165, 211, 242, 0) 0px 0px 0px 3px;
}

.kApZSJ * {
	transition: color 0.15s ease-in-out 0s;
}

.kApZSJ:focus {
	outline: none;
}

.kApZSJ:hover * {
	color: rgb(73, 73, 73);
}

.kApZSJ:active * {
	color: rgb(49, 49, 49);
}

.eAwraQ {
	max-width: 100%;
	padding: 8px 16px;
}

.cmGmFV {
	max-width: 100%;
	margin-right: 0px;
}

.gCKVcr {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: rgb(25, 25, 25);
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	width: 100%;
	border: none;
	outline: none;
	flex: 1 1 100%;
	display: flex;
	background: transparent;
	appearance: none;
	margin: 0px;
	padding: 0px;
	min-height: 24px;
	resize: vertical;
}

.jLgnwD {
	font-size: 16px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.ljzzNG {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.kzadHc {
	font-size: 24px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

.efQmPr {
	font-size: 40px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -0.04ch;
	text-transform: none;
	color: rgb(25, 25, 25);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}

@media (max-width: 48em) {
	.efQmPr {
		font-size: 32px;
		font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -0.04ch;
		text-transform: none;
		color: rgb(25, 25, 25);
		margin: 0px;
		padding: 0px;
		display: block;
		font-variant-ligatures: no-common-ligatures;
	}
}

.ciGXCE {
	font-size: 14px;
	font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0ch;
	text-transform: none;
	color: rgb(118, 118, 118);
	margin: 0px;
	padding: 0px;
	display: block;
	font-variant-ligatures: no-common-ligatures;
}


/*! CSS Used fontfaces */

@font-face {
	font-family: DD-TTNorms;
	font-style: normal;
	font-weight: 400;
	src: url(https://typography.doordash.com/TTNorms-Regular.woff2) format("woff2"), url(https://typography.doordash.com/TTNorms-Regular.woff) format("woff"), url(https://typography.doordash.com/TTNorms-Regular.ttf) format("truetype"), url(https://typography.doordash.com/TTNorms-Regular.eot?#iefix) format("embedded-opentype");
}

@font-face {
	font-family: DD-TTNorms;
	font-style: normal;
	font-weight: 500;
	src: url(https://typography.doordash.com/TTNorms-Medium.woff2) format("woff2"), url(https://typography.doordash.com/TTNorms-Medium.woff) format("woff"), url(https://typography.doordash.com/TTNorms-Medium.ttf) format("truetype"), url(https://typography.doordash.com/TTNorms-Medium.eot?#iefix) format("embedded-opentype");
}

@font-face {
	font-family: DD-TTNorms;
	font-style: normal;
	font-weight: 700;
	src: url(https://typography.doordash.com/TTNorms-Bold.woff2) format("woff2"), url(https://typography.doordash.com/TTNorms-Bold.woff) format("woff"), url(https://typography.doordash.com/TTNorms-Bold.ttf) format("truetype"), url(https://typography.doordash.com/TTNorms-Bold.eot?#iefix) format("embedded-opentype");
}

@font-face {
	font-family: DD-TTNorms;
	font-style: normal;
	font-weight: 800;
	src: url(https://typography.doordash.com/TTNorms-ExtraBold.woff2) format("woff2"), url(https://typography.doordash.com/TTNorms-ExtraBold.woff) format("woff"), url(https://typography.doordash.com/TTNorms-ExtraBold.ttf) format("truetype"), url(https://typography.doordash.com/TTNorms-ExtraBold.eot?#iefix) format("embedded-opentype");
}