   .alignleft {
	float: left;
}
.alignright {
	float: right;
}
.req_high {
	background-color:green;
	color:#fff;
}
        


          .highlight {
      background-color: #000 !important;
}

.checkbox-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-group label {
  position: relative;
  cursor: pointer;
}

.checkbox-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000ad;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.modal-body{
    height: 85vh;
    bottom: 0;
    overflow-y: auto;
     display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
   
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-content {
     width: 50%;
    position: relative;
    display: -ms-flexbox;
    /*top: 10%;*/
    bottom: 10%;
    left: 25%;
   
}

.modal-transition {
  transition: all 0.4s ease;
}
            .pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}

                       
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 90px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 90px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 90px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 90px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 90px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

 @media only screen and (max-width: 600px) {
           #leftarrow{
               display:none;
           }
           #rightarrow{
               display:none;
           }
           .totals {
     position: unset !important;
    bottom: 0 !important;
     width: 100% !important;
    height: 186px !important;
    right: 0 !important;
    background: #ae1c2a !important;
}
#sidebar{
    display:block;
    position: unset !important;
}
}
      #sidebar{
        position: fixed;
    top: 117px;

    bottom: 1px;
    /* padding-bottom: 10px; */
     padding: 10px; 
    right: 0px;
    background: #f3f3f3;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.25s ease-in-out;
 }
@media only screen and (max-width: 575px) {
 .osahan-nav {
    padding: 0px;
    width: 100%;
    position: fixed;
 }
 .nav-prev{
     display:none;
     margin-left: -53%;
 }
 .nav-next{
     display:none;
     margin-left: 0px;
 }
 .totals {
     width: 100% !important;

 }

}
@media only screen and (min-width: 575px) and (max-width: 2600px){
  .osahan-nav {
    padding: 0px;
    width: 100%;
 }
 .nav-prev{
     display:block;
 }
 .nav-next{
      display:block;
 }

}

            .grid240 {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-auto-flow: row dense;
            }
            button.band1 {
            font-size: xx-large;
            }
            .grid {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-flow: row dense;
            }
            /*! CSS Used from: https://res.cloudinary.com/swiggy/raw/upload/static-assets/production_ci_dweb/css/styles.b2fc295900443d4bbc1903a8f1932444.css */
            a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
            }
            *,
            :after,
            :before {
            box-sizing: inherit;
            }
            .categorylist li a.active {
            color: red;
            }
            a,
            a:focus,
            a:hover,
            a:visited {
            text-decoration: none;
            }
            ::-moz-focus-inner {
            border: none;
            outline: none;
            }
            ._1gHSS {
            text-decoration: none;
            }
            html {
            scroll-behavior: smooth;
            }
            ._1srfG {
            margin-top: 21px;
            position: relative;
            position: -webkit-sticky;
            position: sticky;
            top: 150px;
            }
            ._1srfG {
            width: 254px;
            -ms-flex-item-align: start;
            align-self: flex-start;
            height: calc(100vh - 150px);
            }
            ._1srfG:after {
            content: " ";
            position: absolute;
            top: -21px;
            bottom: 0;
            right: 0;
            border-right: 1px solid #e9e9eb;
            }
            ._1JVzD {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            }
            .nh_z0 {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            margin-right: -15px;
            }
            ._1LxRl,
            .nh_z0 {
            position: absolute;
            }
            ._1LxRl {
            width: 6px;
            right: 2px;
            bottom: 2px;
            top: 2px;
            border-radius: 3px;
            }
#main_menu h3 {
  padding: 0px 10px 0px 10px;
    font-size: 22px !important;
    font-weight: 800 !important;
}
            ._30cCo {
            position: relative;
            display: block;
            width: 100%;
            cursor: pointer;
            border-radius: inherit;
            background-color: rgba(0, 0, 0, .2);
            height: 46px;
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            transition: opacity .3s ease;
            }
            ._1UT6G {
            box-sizing: border-box;
            font-size: 14px;
            height: 0;
            will-change: height;
            font-weight: 400;
            transition: height .2s ease-in-out;
            overflow: hidden;
            margin-right: 4px;
            position: relative;
            top: -5px;
            }
            ._1H0j9 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            color: #535665;
            margin: 9px 0;
            }
            ._1H0j9:hover {
            font-weight: 500;
            color: #282c3f;
            }
            ._2mKMa {
            height: 100%;
            max-height: calc(100vh - 197px);
            }
            ._2mKMa:after {
            content: "";
            display: block;
            float: right;
            width: 140px;
            margin-right: 15px;
            margin-top: 16px;
            }
            ._2K_ax {
            text-align: right;
            }
            .D_TFT {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            display: block;
            font-size: 15px;
            color: #282c3f;
            padding-top: 5px;
            font-weight: 400;
            margin-right: -15px;
            padding-right: 20px;
            }
            .D_TFT,
            .D_TFT:first-child {
            padding-bottom: 5px;
            }
            .D_TFT:hover {
            color: #fc8019;
            }
            ._2BbB0 {
            font-weight: 600;
            }
            ._2BbB0,
            ._2BbB0:hover {
            color: #fc8019;
            }
            /* The Modal (background) */
            .modal-container:before, .prompt-container:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.6);
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            }
            .modal-container:closed, .prompt-container:closed {
            display: none;
            }
            .modal1, .prompt {
            position: fixed;
            top: 150px;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            display: block;
            background: white;
            padding: 40px;
            width: 600px;
            max-width: 100%;
            z-index: 1;
            }
  #extramenutable td,
            #extramenutable th {
            padding: 8px;
            }
            #extramenutable tr:nth-child(even) {
            background-color: #f2f2f2;
            }
            #extramenutable tr:hover {
            background-color: #ddd;
            }
            #extramenutable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
            }
            .radio-tile-group {
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            }
            .radio-tile-group .input-container {
            position: relative;
            height: auto;
            padding: 10px;
            width: 44%;
            background-color: white;
            }
            .radio-tile-group .input-container .radio-button {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
            }
            .radio-tile-group .input-container .radio-tile {
            display: -webkit-box;
            display: flex;
            line-height:2;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            padding: 1rem;
            -webkit-transition: -webkit-transform 300ms ease;
            transition: -webkit-transform 300ms ease;
            transition: transform 300ms ease;
            transition: transform 300ms ease, -webkit-transform 300ms ease;
            }
            .radio-tile-group .input-container .radio-tile-label {
            text-align: center;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #2b2a28;
            }
            .modal-content{
                top: 4%;
            /*height: 100vh;*/
            bottom: 0;
            /*overflow-y: auto;*/
            }
            .modal{
            z-index:99999;
            }
            .radio-tile-group .input-container .radio-button:checked + .radio-tile {
            background-color: #2b2a28;
            border: 1px solid #2b2a28;
            color: white;
            -webkit-transform: scale(1, 1.05);
            transform: scale(1, 1.05);
            }
            .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
            color: #fff;
            background-color: #2b2a28;
            }
            .menu-item-single {
            border: 1px solid #ffffff;
            border-radius: 8px;
            padding: 12px;
            border-color: #f6f6f6;
            box-shadow: 0 4px 7px 0 rgb(237 237 231);
            }
            .shadow-lg {
            box-shadow: 0px 0px 0px #ccc !important;
            }
            .clearfix {

 overflow: visible;
}
            #btn-ok{
                background: #000;
    color: #fff;
    border: 1px solid #ccc;
    width: 120px;
    height: 34px;
    font-size: 16px;
            }
            #btn-cancel{
                background: #000;
    color: #fff;
    border: 1px solid #ccc;
    width: 120px;
    height: 34px;
    font-size: 16px;
            }
    /*! CSS Used from: Embedded */
            .form {
            width: auto;
            background-color: #fff;
            padding: 45px;
            border-radius: 2px;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            }
            
            .mt-20{
            margin-top:20px;
            }
            
          
            
            th{
            padding: 20px 15px;
            text-align: left;
            font-weight: 500;
            font-size: 16px;
            color: #000;
            text-transform: uppercase;
            }
           
            .addresslistdiv{
            width: 49%;
            margin: 0px 7px 7px 0px;
            background: #f6f6f6;
            padding: 14px;
            border: 1px solid #ccc;
            }
          .custom-control-label{
              vertical-align: -webkit-baseline-middle;
          }
          .displaynone{
              display : none !important;
          }
         
            .cqJHJF {
                display: flex;
    flex-direction: row;
    margin: 10px;
   padding: 0px 7px 0px 0px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    /* border-radius: 8px; */
    /* padding: 12px; */
    /* border-color: #f6f6f6; */
    /* box-shadow: 0 4px 7px 0 rgb(237 237 231); */
            }
            /*.gNCRbZ {*/
            /*position: relative;*/
            /*margin-right: 0.2rem;*/
            /*margin-bottom: 0px;*/
            /*flex-shrink: 0;*/
            /*}*/
            .cscSkE {
            /*border-radius: 8px;*/
            }
            .hmzMOA {
            position: relative;
            max-width: 100%;
            width: 6rem;
            height: 6rem;
            overflow: hidden;
            }
            
            .bBALuk {
            width: 120px;
           height: 92px;
            object-fit: cover;
            transform: none;
            opacity: 1;
            will-change: transform, opacity;
            border-radius: inherit;
            transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
            }
            .jcidl {
            position: absolute;
            top: 0.6rem;
            right: 0.6rem;
            }
            
            .kbwBZZ {
            width: 0.7rem;
            height: 0.7rem;
            background: rgb(237, 90, 107);
            border-radius: 50%;
            }
            .eDRyYO {
            width: 100%;
            min-width: 1%;
            }
            .dNFsEm {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            }
            .eHPyZW {
            display: flex;
            flex-direction: column;
            max-width: 75%;
            }
            .ezKciv {
            font-size: medium;
            font-weight: 600;
            color: rgb(28, 28, 28);
            line-height: 150%;
            margin: 0px;
            }
            .dpXgPd {
            display: flex;
            flex-wrap: wrap;
            margin: 0.5rem 0px;
            }
            .iUcvwY {
            margin-right: 0.5rem;
            }
            
           
            .cgvpvS {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            }
            .daaTtj {
            display: flex;
            }
            .gUXgQo {
            margin-right: 0.2rem;
            }
            .MxLSp {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            cursor: inherit;
            }
            /**, :after, :before {
            box-sizing: inherit;
            -webkit-tap-highlight-color: transparent;
            }
            i {
            font-style: italic;
            }*/
            
            /**, :after, :before {
            box-sizing: inherit;
            -webkit-tap-highlight-color: transparent;
            }*/
            svg[Attributes Style] {
            fill: rgb(243, 193, 23);
            width: 14;
            height: 14;
            }
            svg:not(:root) {
            overflow: hidden;
            }
            .gSlRJu {
            margin: 0.5rem 0px;
            }
            .jOoliK {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            }
            .cCiQWA {
            font-size: 16px;
            color: rgb(28, 28, 28);
            }
            .fJNrek {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            }
            .kTTqJP {
            margin-top: 8px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: 4.2rem;
            height: 1.8rem;
            border: 1px solid rgb(181, 181, 181);
            border-radius: 3.9px;
            overflow: hidden;
            cursor: pointer;
            color:#fff;
            user-select: none;
            background: rgb(0 0 0);
            }
            .fTsfFl {
            color: rgb(255 255 255);
            font-size: 12px;
            margin: 0px 0.5rem;
            font-weight: 500;
            }
            .TZpZK {
            margin-top: 0.2rem;
            }
            .MxLSp {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            cursor: inherit;
            }
           #nameOfItem{
               text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
           }
           .extitle{
                 font-size: x-large;
    margin-bottom: 0px !important;
    /* text-align: center; */
    /* border: 1px solid; */
    /* background: #000; */
    /* padding: 10px; */
    color: #000;
           }
    /*       .itemssdive:hover{*/
               /*border: 1px solid #ccc;*/
    /*box-shadow: 2px 2px 6px #ccc;*/
    /*       }*/
    .modal-footer .btn {
    
    width: 100%;
    padding: 12px 16px;
    background: #cb1818;
    color: #fff;
    font-size: 17px;
}
@media only screen and (min-width: 230px) and (max-width: 600px) {
 .itemsdiv{
    
    top: 130px;

    margin-bottom: 22%;
    left:0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.25s ease-in-out;
}
}
@media only screen and (min-width: 600px) and (max-width: 3600px){
 .itemsdiv{
    
    top: 130px;
position: fixed !important;
    bottom: 1px;
    left:0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.25s ease-in-out;
}
}
