#header{
            margin: 0 auto;
            }
            footer a {
            line-height: 25px;
            }
            #position ul li {
            font-size: 14px;
            }
            #position ul li a{
            font-size: 15px;
            }
            #home #subheader {
            height: 470px !important;
            }
            @media only screen and (max-width: 767px){
            td.custom-price strong{
            width: 150px;
            display: inline-block;
            }
            td.custom-price strong span{
            width: 150px;
            }
            }
			.addButton {
    background-image: url(../wp-content/themes/quickfood/img/plus-blue.svg);
}
#sub_content{
    vertical-align: bottom;
}
  .parallax-window{
    background: url(../wp-content/themes/quickfood/img/PageHeader_4_73322.jpg)no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }    
#subheader {
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
    height: 470px;
    background: rgba(0, 0, 0, 0.18);
}

			.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}
#sidebar hr {
    margin: 30px 0 20px 0;
    border-top: 1px solid #228449 !important;
    border-bottom: 1px solid #228449 !important;
}
.itemssss:before{
    display:none;
}
.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #00000014;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #000;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
  color: #000;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}

@media only screen and (min-width:768px){
	#sidebar{
		display:block;
	}
	.addcart-mobile{
		display:none;
		  text-align: center;
    background: #ffa715;
	height: 40px;
	position: fixed;
    border: 1px solid #f59b07;
    background-color: rgb(251, 181, 65);
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
	}
	.submobile{
		display:none;
	width:33%;
	float: left;
    font-size: 21px;
    color: #fff;
    line-height: 43px;
	
}
.loginboxx{
	margin-left:28%;
}
}
@media only screen and (max-width:768px) and (min-width: 268px){
	#sidebar{
		display:none;
	}
	.addcart-mobile{
		display:block;
		  text-align: center;
    background: #ffa715;
	height: 40px;
	position: fixed;
    border: 1px solid #f59b07;
    background-color: rgb(251, 181, 65);
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
	}
	.submobile{
	display:block;
	width:33%;
	float: left;
    font-size: 17px;
    color: #fff;
    line-height: 43px;
	
}
.loginboxx{
	margin-left:0px;
}
}
			.hide-alergy {
    display: block;
}
								.allergenLink {
    color: #266abd;
    text-decoration: underline;
    background: none;
    padding: 0 20px 20px;
    display: inline-block;
    font-size: 16px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    min-width: 128px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.overlay {
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #22222266;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.cartemptyalert{
	text-align: center;
    padding: 15px;
}
#order{
	background: #fdfdfd;
  
    padding: 35px;
}
h3.title_grey {
    background: #eda209;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    font-size: 20px;
}
.order-details, .order-details>.row {
    padding: 20px;
}
.order-details>.row {
    border-bottom: 1px solid #2d6033;
}
.order-details .row>div {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.my_items {
    padding: 0px 20px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
} 
.checkout_total {
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 20px;
}
.cccc{
    padding: 5px 10px;
    margin: 20px 20px;
}
.form-control {
    border-radius: 3px;
    border-color: #CCC;
    font-weight: 400;
    height: 36px;
    font-size: 15px;
}	
.text_col {
    padding-top: 7px;
}
label.cccc:before {
    top: 12px;
}
.loc{
    color: #eda209;
    font-size: 19px;
    margin-right: 7px;
}
.o_fields{
    text-transform: uppercase;
    font-weight: 700;
}