    :root {
        --space: 2rem;
        --space-xs: calc(var(--space) / 3);
        --space-sm: calc(var(--space) / 2);
        --space-md: calc(var(--space) * 2);

        --color-primary: lightgray;
        --color-accent: whitesmoke;
        --color-dark: black;
        --color-mid: gray;
        --color-light: white;
        --color-highlight: dodgerblue;

        --radius: 0.125rem;
      }

      /* Here are the base styles for the main layout and sticky component */
      * {
        box-sizing: border-box;
      }
      
      
      body{
          font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
      }
      
    

      main {
        display: flex;
        flex-wrap: wrap;
      }

      .article {
        flex-basis: 0;
        flex-grow: 999;
        /*border-right: .5px solid #cccccc6b;*/
        min-width: 40%;
        padding: 0px;
      }

      .sidebar {
           /* --offset: var(--space); */
        flex-grow: 1;
        flex-basis: 300px; 
        height: 700px;
        overflow-y: auto;
        /* height: -webkit-fill-available; */
        align-self: start;
        background-color: #fff;
        position: sticky;
        top: 0px;
          }
        .sidebar1{
            position: sticky;
        top: 117px;
        bottom: 1px;
        /* padding-bottom: 10px; */
        padding: 10px;
        right: 0px;
        background: #f3f3f3;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: all 0.25s ease-in-out;
        }
          .component {
            display: grid;
            grid-template-rows: auto 1fr auto;
          }

          .component .content {
            max-height: 500px;
            overflow-y: auto;
          }

          .sidebar .component {
            max-height: calc(100vh - var(--offset) * 2);
          }

          /*
    * Other styles
    **/
          .visually-hidden {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
          }

          html,
          body {
            height: 100%;
            font-size: 13px;
          }

          [hidden] {
            display: none;
          }

          body {
            margin: 0 auto;
            /*padding: 0 var(--space);*/
            line-height: 1.4;
            /*max-width: 1400px;*/
          }

        


          header,
          footer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: var(--space-md) 0;
            padding: var(--space);
            /*height: 40vh;*/
            background: repeating-linear-gradient(
              45deg,
              transparent,
              transparent 12px,
              var(--color-accent) 12px,
              var(--color-accent) 24px
            );
          }

          /* Until flexbox gap is supported in all modern browsers, we use the negative margin trick to create space between the children elements */
          main {
            /*margin-bottom: calc(var(--space-md) * -1);
            margin-left: calc(var(--space-md) * -1);*/
            padding: 0px;
            max-width: 1600px;
            margin: 0 auto;
          }

          main > * {
            /*margin-bottom: var(--space-md);
            margin-left: var(--space-md);*/
          }

        article > * + * {
        margin: 20px;
    }

          .component {
            position: relative;
            /*border: 1px solid var(--color-primary);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
              0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
              0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);*/
          }

          .component .header,
          .component .footer {
            padding: var(--space-sm);
            text-align: center;
          }

          .component .header {
            border-bottom: inherit;
          }

          .component .footer {
            display: flex;
            justify-content: space-between;
            border-top: inherit;
          }

          .component .content {
            padding: var(--space-sm);
            max-height: 500px;
            overflow-y: auto;
            color: var(--color-dark);
          }

          .empty-text {
            padding: var(--space);
            text-align: center;
            color: var(--color-primary);
          }

          .item {
            position: relative;
            appearance: none;
            display: flex;
            align-items: center;
            padding: var(--space);
            outline: none;
            width: 100%;
            background-color: var(--color-accent);
            border: 1px solid var(--color-accent);
            border-radius: var(--radius);
            cursor: pointer;
          }

        

          .button:active {
            transform: translateY(1px);
            box-shadow: none;
          }

          .empty-cart {
            color: var(--color-mid);
            border-color: var(--color-mid);
            background-color: var(--color-light);
          }
          .sticky-div { 
            background-color: #fff;
        position: sticky;
        top: 0px;
        padding: 5px 0px;
        z-index: 99;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: 0 8px 6px -6px #e3e3e3;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 4px 11px -6px #c4c4c4;
    }


      .wrapper {
        position:relative;
        margin:0 auto;
        overflow:hidden;
      padding:5px;
        height:45px;
    }

    .list {
        position:absolute;
        left:0px;
        top:0px;
        min-width:3000px;
        margin-left:12px;
        margin-top:0px;
    }

    .list li{
      display:table-cell;
        position:relative;
        text-align:center;
        cursor:grab;
        cursor:-webkit-grab;
        color:#efefef;
        vertical-align:middle;
    }

    .scroller {
      text-align:center;
      cursor:pointer;
      display:none;
      padding:7px;
      padding-top:16px;
      white-space:no-wrap;
      vertical-align:middle;
      background-color:#fff;
    }

    .scroller-right{
      float:right;
    }

    .scroller-left {
      float:left;
    }
    .sliderarrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .rightIcon {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .leftIcon {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    .arrowNext::before {
        content: " ";
        border-right: 2px solid #000;
        border-top: 2px solid #000;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }
    .arrowPrev::before {
        content: " ";
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    } 

    .nav{ flex-wrap:nowrap; overflow-x:auto; white-space: nowrap; }
      .nav a {    color: #0c0100 !important;
        font-weight: 400;
        padding: 0px 10px;
        font-size: 15px !important;
        text-transform: uppercase; }

      .nav a.active {
        color: #1b1719!important;
        font-weight: bold;
        border-bottom: 3px solid red;
        padding-bottom: 8px;
      }
    .item-section h3{
            font-size: 20px !important;
    }



    .nav-tabs {
        padding: 10px 0;
    }
    .btn-toggle .active {
      background: #379ed0;
      font-weight: 400;
      color: white;
    }
    .btn-toggle  {  border: 1px solid #e2e0e0;
        border-radius: 10px; margin: 10px; }

      .restaurant-detailed-banner .img-fluid.cover {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }
    .nav-tabs {
        border-bottom: 0px solid #dee2e6 !important;
    }
    /*
    .accordionMenu input[type=radio]{
        display: none;
    }
    .accordionMenu label{
        display: block;
        height: 50px;
        line-height: 47px;
        padding: 0 25px 0 10px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #e6e6e6;
    }
    label .accord {
        display: block;
        height: 50px;
        line-height: 47px;
        padding: 0 25px 0 10px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #e6e6e6;
    }

    .accordionMenu label::after{
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 10;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .accordionMenu .content{
        max-height: 0;
        height: 0;
        overflow: hidden;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
    }
    .accordionMenu .content .inner{
        font-size: 1.2rem;
        color: #2c97de;
        line-height: 1.5;
        background: white;
        padding: 20px 10px;
    }
    .accordionMenu input[type=radio]:checked + label:after{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    .accordionMenu input[type=radio]:checked + label + .content{
        max-height: 2000px;
        height: auto;
    }*/
    .summary {
      font-size: 16px !important;
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    }
    .summary::-webkit-details-marker {
    color: #00ACF3;
    font-size: 125%;
    margin-right: 2px;
    
    }
    .detail {
      padding: 7px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fcfcfc;
        margin: 15px 0;
    }
    .custom-control { 
      padding-left: 0px !important;
      padding: 15px;
      font-size: 12px;
      margin-right: 3px;
      border-bottom: 1px solid #f3f3f3;
    }

    .addonDiv {
      font-size: 11px;
        margin-bottom: 5px;
        display: none;
        padding: 10px;
    }

    label.custom-control-label {
        width: 90%;
        margin: 0 5%;
    }
    .prodPrice {
      float: right;
        padding-right: 20px;
    }

    .list-card-body {
        padding-top: 20px;
    }
    details {
        border: 1px solid #e6e6e6;
        padding: 10px;
        border-radius: 7px;
        background: #fcfcfc;
        margin-bottom: 10px;
    }
    article > * + * {
        margin: 10px !important;
    }
    .addOn { border-top: none; padding: 5px 2px;
        padding-left: 20px; }
    .list-group-item {
        border: none;
    }

    .badge { font-size: 12px !important; background: none;  color: black; }
    .item-desc { 
      letter-spacing: 0ch;
      text-transform: none;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 0px 0px 0px 0px;
      font-variant-ligatures: no-common-ligatures;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px;
      white-space: normal;
    }
    .item-tit {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      height: 22px;
      font-size: 16px;
      font-weight: 700;
      white-space: normal;
    }
    .btn-outline-secondary, .totItem {
        width: 35px;
        height: 35px;
    }
    .totItem {  width:50px; padding-left: 15px; }
    .addInst, .editInst { height:100px; }
    .itemNotes {width: 99%;
        text-align: left;
        font-size: 10px;
        color: #7a7a7a;
        line-height: 18px;
        font-style: initial;}

    .list-card.bg-white.rounded.overflow-hidden.position-relative.shadow-sm {
      margin: 0 10px;
        border-radius: 50px;
        border: 1px solid #f2f1f1;
        border-radius: 10px !important;
        box-shadow: 20;
        box-shadow: 1px 1px 1px 1px #f2f1f1 !important;
    }
    .row {  --bs-gutter-x: 0; }
    .card { border:none; }
    .btn small { display:block; font-size: 12px;}
    .p-3 {
        padding: 0 1rem !important;
    }
    @media only screen and (min-width: 200px) and (max-width: 500px) {
 .modal-content{border-radius: 10px;}
}
@media only screen and (min-width: 500px) and (max-width: 1600px) {
 .modal-content{border-radius: 10px;top: -23px;}
}
@media only screen and (min-width: 1600px) {
 .modal-content{border-radius: 10px;top: -23px;width: 125%;
    margin-left: -43px;}
}
    .input-group-text, .icofont-ui-edit { cursor: pointer; }
    .input-group { width:22% !important; border:none; }
    .input-group-prepend, .input-group-append { height:25px; }
    .bg_white { background: #fff; }
    .text-red { color:#ea5f5f; font-size:10px; cursor:pointer;  }
    .count-number .btn { border-radius: 20px; margin: 0 30px; }
    .count-number-input { color:black;background: #f8f8f8;
        border: .5px solid #bbbbbb1c;   }
    .search { margin: 10px auto; }
    .modal { padding-right:0px !important; }
    .modal-footer { display: inline; }
    .modal-header{
        -webkit-box-shadow: 0 8px 6px -6px #e3e3e3;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 4px 11px -6px #c4c4c4;
    }
    .modal-content{border-radius: 10px;top: -11px;}
    .modal-footer .addbtn { padding: 8px 16px; padding-right: 15px; }
    .modal-body textarea { height: 100px; border-radius: 7px; }
    .popup-desc { font-size: 16px;
        letter-spacing: 0ch;
        text-transform: none;
        color: rgb(118, 118, 118);
      padding: 5px 0px 0px 0px;
        font-variant-ligatures: no-common-ligatures;
        max-width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal; }
    .modal-body { height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden; }
    .modal-body::-webkit-scrollbar {
        display: none;
    }
    aside.sidebar::-webkit-scrollbar {
        display: none;
    }
    .detail::before {
        display: inline-block;
        transform: rotate(
    50deg
    );
        height: 25px;
        width: 13px;
        /* margin-left: 60%; */
        border-bottom: 5px solid #e82828;
        border-right: 5px solid #f63244;
    }
    .alert-danger { font-size: 11px;}
    .addOnSel { padding: 2px;
    border: 1px solid #e6e2e2;
    margin-right: 11px; display:none; }
    input[type=checkbox]:checked ~ span.addOnSel { display: inline-flex !important; border:none;  }
    .boxes {
       /* padding-bottom: 20px;*/
    }
    .cart_item_pr {float: right; }
    .cart_thumb { object-fit: cover; height: 50px; width: 50px; -moz-border-radius:7px; border-radius:7px; border: 1px solid #e3e3e4; }
    #addonModalLabel { font-size: 27px; font-weight: 700; }
    #searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
  }
.itemTit { font-size:14px; }
.searchDiv {

  border-bottom: 1px solid #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    -webkit-box-shadow: 0 8px 6px -6px #e3e3e3;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 4px 11px -6px #c4c4c4;
}
#searchinput { margin-top: 0.5rem;}
/*.btn-number, input-group-text,  {
    background: white;
    border-radius: 50px !important;
    font-size: 15px;
    font-weight: 700;
}*/
.input-number {     padding-left: 10px; }
/* mobile responsive */
@media only screen and (min-width: 230px) and (max-width: 600px) {
 
.modalclosepop{
         top: 4%;
                border-radius: 15px;
            /*height: 100vh;*/
            bottom: 0;
               width: 100%;
    position: relative;
    display: -ms-flexbox;
    /*top: 10%;*/
    bottom: 10%;
    /*left: 10%;*/
            /*overflow-y: auto;*/
}
}
@media only screen and (min-width: 600px) and (max-width: 3600px) {
 
.modalclosepop{
top: 25% !important;
    border-radius: 15px !important;
    /* height: 302px; */
    bottom: 0;
    width: 50% !important;
    position: relative !important;
    display: -ms-flexbox;
    /* top: 10%; */
    bottom: 10% !important;
    left: 23% !important;
}
}