﻿<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
       
      <div class="item active">
          <img src="bb-1.png" data-color="firebrick" alt="Second Image">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">First Slide</h2>
            <p class="lead">This is a description for the first slide.</p>
          </div>
      </div>
      <div class="item">
          <img src="bb-1.png" data-color="violet" alt="Third Image">
          <div class="carousel-caption">
              <h3>Third Image</h3>
          </div>
      </div>
      <div class="item">
          <img src="bb-1.png" data-color="lightgreen" alt="Fourth Image">
          <div class="carousel-caption">
              <h3>Fourth Image</h3>
          </div>
      </div>
      <div class="item">
          <img src="bb-1.png" data-color="tomato" alt="Fifth Image">
          <div class="carousel-caption">
              <h3>Fifth Image</h3>
          </div>
      </div>
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <script>
    $('.carousel').carousel({
        interval: 6000
      });
  </script>