/*

CSS STRUCTURE:

1. SITE STRUCTURE and TYPOGRAPHY
2. FORMS
3. COMMON
5. MEDIA QUERIES

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/

/* Structure */
html, body {
	height:100%;	
}
body {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size:14px;
	line-height:20px;
	margin:0;
	background-color:#000;
	color:#fff;
	-webkit-font-smoothing: antialiased !important;
}

/* TYPOGRAPHY and links color */
p {
	margin-bottom:20px;
}
.lead{
	margin-top:-15px;
}
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover,
a:focus {
  color: #00aeef;
  text-decoration: none;
  outline:none;
}

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased !important;
}
h1 {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0;
	text-align:center;
	font-size:60px;
	font-weight:300;
}
h2 {
	font-weight:400;
	margin:0 0 20px 0;
	padding:0;
	text-align:center;
	font-size:20px;
	line-height:1.4;
}
h3 {
	font-weight:300;
	margin:60px 0 20px 0;
	padding:0;
	text-align:center;
	font-size:48px;
	text-transform:uppercase;
}

/* BUTTONS */
.btn-check {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:#85c99d;
border:none;
color:#fff;
display:block;
line-height:33px;
text-align:center;
margin-left:3px;
font-size:12px;
font-weight:bold;
width:120px;
outline:none;
 -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn-check:hover {
background:#fff;
color:#85c99d;
}

hr {
  border-top: 1px solid #373737;
}
.img-responsive{
	margin:auto;
}
/* Basic Structure
-------------------------------------------------*/
#wrapper {
	position: relative;
	min-height:100%;
}
#main {
	position: relative;
}
#logo {

}


#newsletter_wp {
	background: rgba(0, 0, 0, 0.5); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
	/* Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	position:relative;
}
.countdown{
	text-align:center;
		margin:140px 0 0 0;
}

.container_count {
	width:60px;
	display:inline-block;
	margin-right:5px;
	text-align:center;
}
.container_count.last {
	margin-right:0;
}
#countdown_wp{
	text-align:center;
	margin:30px 0 20px 0;
}
#days, #hours, #minutes, #seconds{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #fff;
	text-align:center;
	width:60px;
	height:60px;
	font-size:24px;
	line-height:56px;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-weight:300;
}

#social_footer{
	text-align:center;
	border-top:1px solid rgba(255,255,255,0.2);
	margin-top:60px;
	padding-top:30px;
}
#social_footer p{
	font-size:12px;
	color:#8c8c8c;
}
#social_footer ul{
	margin:0;
	padding:0 0 10px 0;
	text-align:center;
}
#social_footer ul li{
	display:inline-block;
	margin:0 5px 10px 5px;
}
#social_footer ul li a{
	color:#fff;
	text-align:center;
	line-height:34px;
	display:block;
	font-size:16px;
	width:35px;
	height:35px;
	border:1px solid rgba(255,255,255,0.3);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#social_footer ul li a:hover{
	border:1px solid #fff;
	background:#fff;
	color:#111;
}

/*============================================================================================*/
/* 2.  FORMS */
/*============================================================================================*/


.form-control {height: 38px; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: none; padding-left:8px; }
.first-nogutter {padding-right:0;}
.nogutter {padding-right:0; padding-left:5px;}
.form-control{
   background-color: #ffffff;
  
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.loader {float:right; display:inline; margin-top:10px;color:#fff; margin-right:-14px;}
label {font-weight:600; line-height:14px;}
.error_message { margin-top:3px; color: #F66; display:inline-block;}

/*============================================================================================*/
/* 3.  COMMON */
/*============================================================================================*/

#slides {
   position: fixed !important;
  top:0;
  left:0;
  z-index:-2;
}
ul.slides-container li img{
	opacity:0.2;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
/*============================================================================================*/
/* 4.  MEDIA QUERIES */
/*============================================================================================*/


@media (min-width: 768px) and (max-width: 1200px) {
.btn-check {width:95px;}

}
@media (max-width: 979px) {

.btn-check { position:absolute;  bottom:-50px; left:42%; width:95px;}
.first-nogutter {padding-right:15px;}
.loader { position:absolute; right:20px; bottom:-45px;}
}
	
/* From tablet portrait to mobile */
@media (max-width: 767px) {

.countdown{
	margin:100px 0 0 0;
}
h1 {
	
	font-size:28px;
}
h2 {
	font-size:14px;
}
h3 {
	font-size:32px;
}

}	

/* Mobile portrait */
@media (max-width: 480px) {
body {
	font-size:12px;
}
h3 {
	margin:40px 0 20px 0;
	font-size:32px;
}

.countdown{
		margin:50px 0 0 0;
}
.btn-check {left:38%;}



}
