/* table of contents */

/*
+ General Styling and Tags
*body
+ @font-face

+ #navbar
  - .navbar

+ #home
  - .page_content_main_slider

+ #about
   - .skills_section

+ #Work
   - .portfolio_section

+ #Pricing
    - .pricing_section

+ #Reviews
    - .customer_review_section

+ #Blog
    - .blog_section

+ #contact-us
  - .contact-form

+ .footer
    - .footer-section

*/

/* Global Styling */

/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/*loader start */

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1200;
    background: #ffffff;
}

.loader-inner{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
}
.food_about_bg {
    position: relative;
    width: 100%;
    padding-top: 75%;
    background-position: center !important;
    background-size: cover !important;
    background: url(../img/landing.jpg);
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #232323;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/*loader start */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow-x: hidden;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

.open_sans{
    font-family: 'Open Sans', sans-serif;
}

.bg_white{
    background: #FFFFFF;
}

.bg_grey{
    background: #f7f7f7;
}

.big_padding{
    padding: 120px 0;
}

.small_padding{
    padding: 60px 0;
}

.font_200{
    font-weight: 200 !important;
}

.font_300{
    font-weight: 300 !important;
}

.font_400{
    font-weight: 400 !important;
}

.font_600{
    font-weight: 600 !important;
}

.all_big_padding{
    padding: 60px;
}

.all_small_padding{
    padding: 30px;
}

.left_align{
    margin-left: 0 !important;
}

.margin_default_bottom{
    margin-bottom: 25px !important;
}

.margin_default_bottom_big{
    margin-bottom:60px !important;
}

.default_section_heading{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #232323;
}

.mid_default_margin{
    margin-top: 90px;
}

.small_heading_navy{
    color: #232323;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
}

.default_text{
    color: #676767;
    font-size: 14px;
    margin: 0;
    word-spacing: 2px;
    line-height: 28px;
}

.default_small_heading{
    color: #989898;
    font-size: 18px;
    margin: 0;
    word-spacing: 2px;
    line-height: 32px;
}

.default_text_light{
    color: #676767;
}

.default_divider{
    width: 70px;
    margin: 20px auto;
}

.default_divider_white{
    border-top-color: #FFFFFF;
}

.default_divider_big{
    margin-bottom: 90px;
}

.padding_0{
    padding: 0 !important;
}

.margin_0{
    margin: 0 !important;
}

.none{
    display: none;
}

.default_divider_left{
    margin-left: 0;
}

.default_divider_blue{
    border-top-color: #6d6d6d !important;
}

.blue_color{
    color: #6d6d6d;
}

.navy_blue{
    color: #232323;
}

.white_color{
    color: #FFFFFF;
}

.navy_blue_important{
    color: #232323 !important;
}

.bg_blue{
    background: #6d6d6d;
}

.bg_navy{
    background: #232323;
}


.bg_before_blue:hover{
    background: #6d6d6d !important;
}

.bg_before_navy:hover{
    background: #232323 !important;
}

.bg_before_white:hover{
    background: #ffffff !important;
    color: #232323 !important;
}

.bg_before_navy_white:hover{
    background: #232323 !important;
    color: #ffffff !important;
}

.bg_before_white{
    transition: 300ms !important;
}


.button:hover{
    color: #ffffff;
}

.button:focus{
    color: #ffffff;
}

.anchor_style_default{
    text-decoration: none;
}

.anchor_style_default:hover{
    text-decoration: none;
}

.anchor_style_default:focus{
    text-decoration: none;
}

.button_default_style{
    padding: 15px 55px;
    color: #fff;
    text-decoration: none !important;
}


.bordered_button{
    padding: 13px 53px !important;
    border: 2px solid #ffffff;
    background: transparent;
}

.button {
    display: inline-block;
    transition: 300ms !important;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.extra_big_padding{
    padding: 300px 0;
}

.pos_relative{
    position: relative;
}

/* Local Styling Of Each Section */

.navbar {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    border: none !important;
    margin-top: 20px;
    min-height: 20px;
    padding: 4px 0;
    border-radius: 0;
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */
}
.navbar.shrink {
    background: #ffffff;
    margin: 0;
    box-shadow: 0 8px 6px -9px #999;
}

.navbar.shrink .navbar-nav li a {
    color: #232323;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}

.navbar .navbar-nav li a:before{
    position: absolute;
    content: '';
    width: 100%;
    display: table;
    height: 4px;
    border-radius: 5px;
    bottom: -6px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.navbar.shrink .navbar-nav li a:focus {
    color: #232323;
}
.navbar.shrink .navbar-nav li a:hover {
    color: #232323;
}

.navbar .navbar-nav li{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.navbar.shrink .navbar-nav li.active{
    color: #000;
    border-radius: 30px;
    border-radius: 30px;
}

.navbar.shrink .navbar-header .navbar-brand{
    padding: 15px 0;
}

.navbar .navbar-nav {
    margin-right: 5px;
    height: 73px;
}
.navbar .navbar-header .navbar-brand {
    width: 140px;
    padding: 15px 0;
    min-height: 20px;
    height: auto;
}
.navbar.shrink .navbar-brand{
    width: 110px;
}

@media screen and (max-width: 992px) {
    .navbar .navbar-header .navbar-brand {
        width: 120px;
    }

    .navbar .navbar-nav li{
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-header .navbar-brand {
        width: 120px;
        padding: 16px 0 !important;
    }
}

.navbar .navbar-header .navbar-brand img {
    width: 100%;
}
.navbar .navbar-header button {
    background: #ffffff;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        background: #ffffff;
    }
}
.navbar .navbar-nav li {
    padding: 0 20px;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}
.navbar .navbar-nav li a {
    color: #ffffff;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
    padding: 0;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
    background: transparent;
    color: #ffffff;
}
@media screen and (max-width: 767px) {
    .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
        color: #202125;
    }
}

.navbar .navbar-nav  li.active a:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 767px) {
    .navbar {
        margin-top: 0;
    }

    .navbar .navbar-nav li a {
        color: #202125;
    }
}


@media screen and (max-width: 767px) {

}
.navbar .side-menu-button:hover {
    color: #ffffff;
    background: #202125;
}
.navbar .side-menu-button.actives {
    background: transparent;
}
.navbar .side-menu-button.actives .fa {
    font-size: 36px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.navbar .side-menu-button.actives .fa:hover {
    color: #6a6a6a;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-transition : 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}


/**Push Menu**/
/*Toggle*/
.menu_bars{
    width:20px;
    border-radius:4px;
    cursor: pointer;
    display:table;
    position:relative;
    z-index:1102;
    z-index:1102;
    background:transparent;
    float: right;
    top: 15px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    right: 10px;
    font-family: "Raleway", sans-serif;
}
nav.navbar.bootsnav.navbar-fixed.no-background  .menu_bars{ margin-top:20px;}
.menu_bars.left{
    left:30px;
    float:left;
}
.menu_bars.right{
    float:right;
}

.shrink .menu_bars.right{
    top:28px;
}

.menu_bars.active{
    position:fixed;
    margin-top:0 !important;
    right: 30px;
    border:none !important;
}
/* for index5 only start */
.menu_bars.active2{
    border: 1px solid #1b1b1b;
    padding: 7px;
    position:fixed;

    right: 30px;

}
.menu_bars.active2 {
    background: #FFFFFF;
}
/* for index5 only end */
.menu_bars.active span{
    background:#1b1b1b;
}
.menu_bars.active.right{
    padding: 15px;
    top:10px;
}
.menu_bars.active span.t1{
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
}
.menu_bars.active span.t2{
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu_bars.active span.t3{
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}
.menu_bars span{
    background: #ffffff;
    display: block;
    height:4px;
    width:27px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    border-radius: 20px;
}
.navbar.shrink .menu_bars span{
    background: #000000;
}
nav.navbar.bootsnav.navbar-fixed.no-background .menu_bars span{
    background:#fff;
}

.menu_bars.active span{
    width: 18px;
}

nav.navbar.bootsnav.sticked .menu_bars,
nav.navbar.bootsnav.navbar-fixed .menu_bars{
    margin-top:8px;
}
.menu_bars span.t2{
    margin: 4px 0;
}
/*this is the nav*/
.pushmenu-push{
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.pushmenu{
    background: #fff;
    padding:20px 15px;
    width: 270px;
    height: 100%;
    top: 0;
    z-index: 1100;
    position:fixed;
    overflow:hidden;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-top: 3px solid;
}
.sidebar_menu{
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.pushmenu.pushmenu-right{ padding:20px 20px 20px 40px;}
.pushmenu-left{
    left: -270px;
}
.pushmenu-left.pushmenu-open{
    left: 0;
    box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
    left: 270px;
}
.pushmenu-right{
    right: -270px;
}
.pushmenu-right.pushmenu-open{
    right: 0;
    box-shadow:3px 0 3px 3px #c2c2c2;
}
.pushmenu-push-toleft{
    left: -270px;
}
.pushmenu .push-logo{
    display:block;
    padding:0 0 30px 0;
    position:relative;
    z-index:98;
    margin-top: 3px;
}
.pushmenu .push-logo > img{
    display:inline-block;
    width:110px;
}

.indexing{
    z-index: 16 !important;
}

.indexing_1{
    z-index: 14 !important;
}

.indexing_2{
    z-index: 15 !important;
}

.pushmenu .push_nav{
    padding-left: 0;
    margin-top: 0px;
    padding: 0;
}

.pushmenu .push_nav li a{
    font-family: 'Raleway', sans-serif;
}

.pushmenu .push_nav li a:hover{
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
    .pushmenu .push-logo > img{
        width: 82px;
    }
}
.pushmenu .push_nav{ width:100%; z-index:100; background:#fff;}
.pushmenu .push_nav li a:hover {
    -webkit-transform: none;
    transform: none;
}
.pushmenu .push_nav > li{
    display:block;
    position:relative;
    -webkit-transform:translate3d(100%, 0px, 0px);
    transform:translate3d(100%, 0px, 0px);
    opacity:0;

}

.pushmenu.pushmenu-open .push_nav > li{
    -webkit-transition-duration:.4s;
    transition-duration:.4s;

    -webkit-transition-property : all;

    transition-property: all;
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    -webkit-transition-timing-function:ease;
    transition-timing-function:ease;
    opacity:1;
}

.pushmenu.pushmenu-open .push_nav > li:first-child{
    -webkit-transition-delay:.1s;
    transition-delay:.1s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(2){
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(3){
    -webkit-transition-delay:.3s;
    transition-delay:.3s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(4){
    -webkit-transition-delay:.4s;
    transition-delay:.4s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(5){
    -webkit-transition-delay:.5s;
    transition-delay:.5s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(6){
    -webkit-transition-delay:.6s;
    transition-delay:.6s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(7){
    -webkit-transition-delay:.7s;
    transition-delay:.7s;
}

.pushmenu .social_icon.list-inline li a {
    width: 40px;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    transition: 1s;
}


.pushmenu .push_nav > li > a{
    display: block;
    color: #232323 !important;
    font-size:14px;
    padding:5px;
    margin:0 0px 18px 0px;
    text-transform:capitalize;
    padding-left: 0;
}
.pushmenu .push_nav > li > a > span{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    width: 30px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}
.pushmenu .push_nav > li > a:hover span{
    margin-left:-10px;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus,
.pushmenu .push_nav > li.active > a{
    text-decoration: none;
}
.pushmenu .push_nav .dropdown > a{ margin-top:0;}
.pushmenu .push_nav .dropdown-menu{
    position: relative;
    width: 100% !important;
    padding: 0;
    margin:0 0 0 15px;
    border-radius: 0;
    border: none;
    background-color:#fff;
}
.pushmenu  .push_nav .dropdown-menu li a{ display:block; color: #232323;}
.pushmenu  .push_nav .dropdown-menu li:first-child a{ border-top:1px solid #e1e1e1;}
.pushmenu  .social_icon{ position:absolute; bottom:10px; left:40px; right:0;}
.pushmenu  .social_icon.list-inline li a{
    border-color: #232323;
}
.pushmenu  .social_icon.list-inline li a{
    border:none;
}
.pushmenu  .social_icon.list-inline li a:last-child:hover{
    background:  #0077B5;
    color: #ffffff;
}
.pushmenu  .social_icon.list-inline li a:hover{
    border-color: transparent;
}
body.pushmenu-push-toLeft{
    right: 260px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.pushmenu  .social_icon{
    padding-right: 0;
}


#main {
    -webkit-transition : margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
}
.sideNavWidth{
    width: 250px;

}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* center navbar */
.centered-nav .navbar-header{
    height: auto;
    position: absolute;
    float: none;
    left: 50%;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centered-nav .navbar .navbar-nav li{
    padding: 0 30px;
}


.index-light .navbar .navbar-nav li a{
    color: #232323;
}

.index-light .navbar .menu_bars span{
    background: #232323;
}

.index-light .menu_bars.active.right span{
    background: #232323;
}

.index-light .navbar .navbar-nav li a{
    font-weight: 500;
}

.index-only-side-nav .navbar-brand{
    margin: 0 10px;
    margin-left: 5px !important;
    transform: scale(1);
    transition: 300ms;
}

.display_none{
    transform: scale(0) !important;
}

.index-only-side-nav .menu_bars{
    padding: 13px 14px;
    top:5px;
}

.index-only-side-nav .menu_bars span{
    width: 15px;
    height: 2px;
}

.index-only-side-nav .menu_bars span.t2{
    margin: 3px 0;
}

.index-only-side-nav .menu_bars:hover span{
    background: #ffffff;
}

.index-only-side-nav .menu_bars.active.right {
    background: none;
}


.index-only-side-nav .menu_bars.active.right span{
    width: 18px;
    height: 4px;
}

.index-only-side-nav .menu_bars.active.right span.t2{
    margin: 4px;
}

.bottom_navbar .navbar{
    bottom: 0;
    position: absolute;
    z-index: 15;
    border-radius: 0;
    width: 100%;
}

.bottom_auto{
    bottom: auto !important;
    position: fixed !important;
}

.making_bar_outside_absolute{
    position: absolute !important;
    right: 30px !important;
    top:30px !important;
}

.making_bar_outside_absolute.active{
    top:10px !important;
}

.upper_bar_connector{
    position: absolute;
    z-index: 9;
    width: 100%;
}

.navbar-upper-instruction{
    padding: 30px 0 0;
    width: 100%;
    z-index: 9;
}

.navbar-upper-instruction .upper_inner_information i{
    font-size: 18px;
}

.upper_inner_information{
    cursor: pointer;
}

.upper_inner_information p{
    display: inline-block;
    margin-right: 15px;
}

.upper_inner_information_icons .upper_inner_information_icons_inner{
    margin: 0;
    padding: 0;
}

.upper_inner_information_icons .upper_inner_information_icons_inner li{
    display: inline-block;
}

.upper_inner_information_icons_inner li a{
    width: 25px;
    height: 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    transition: 1s;
    display: block;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
}

.upper_inner_information_icons_inner li a i{
    font-size: 16px;
}

.upper_inner_information_icons_inner li a:hover{
    background: #ffffff;
}

.navbar_with_instructions .navbar{
    margin: 0 auto;
    top:29px;
    position: relative;
}

.fixing_navbar_after_scrolling{
    margin: 0 auto !important;
    position: fixed !important;
    top: 0 !important;
    display: block !important;
    width: 100%;
    right:0;
    left: 0;
}

.special_nav_styling{
    border-radius: 80px;
}

.special_nav_styling .navbar-header .navbar-brand{
    margin-left: 10px;
}

/*navbar styling end */

/* Slider Styling */


.main_slider{
    width: 100%;
    height: 100vh;
}

.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

.swiper-slider-heading{
    font-size: 48px;
    font-weight: 100;
}

.swiper-slider-heading span{
    font-weight: 400;
}

.swiper-slider-small-heading{
    font-size: 30px;
    font-weight: 100;
}

.swiper-slider-heading-2{
    font-size: 65px;
}

.page_content_main_slider .swiper-slider-small-heading{
    margin-bottom: 45px;
    margin-top: 0;
}

.main_slider .swiper-slide,
.main-slider-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover !important;
    color: #ffffff;
}

.button_div a.btn1{
    transform: translateX(-5px);
}

.button_div a.btn2{
    transform: translateX(5px);
}

.main_slider .swiper-arrows{
    color: #ffffff;
    font-size: 28px;
    background: black;
    opacity: .3;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    transition: 1s;
}

.main_slider .swiper-arrows:hover{
    opacity: 1;
}

.main_header{
    position: relative;
}


/* Slider Revolution */

.tp-bullet, .swiper-pagination-bullet {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: #b5b5b5;
    opacity: 1;
}

.swiper-bullet-style-two .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    overflow: hidden;
    background: #fff;
    opacity: 1;
    border-radius: 9px;
    transition: 300ms;
}

.swiper-bullet-style-two .swiper-pagination-bullet-active{
    width: 50px;
}

.centered_main_slider .swiper-pagination {
    left: 0;
    width: 100%;
    top: 60%;
    transform: translateY(-60%);
    bottom: auto;
}

.tparrows{
    border-radius: 40px;
    transition: 1s;
}

.centered_main_logo{
    position: absolute;
    width: 100%;
    top: 35%;
    display: block;
    text-align: center;
}

.centered_main_logo img{
    width: 220px;
}

/* Personal Slider */

.personal_slider .swiper-slide{
    height: 100vh;
}

.developer_information{
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
}

.user_picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
}

.user_picture img{
    width: 100%;
    height: 100%;
    transition: 300ms;
    transform: scale(1.1);
}

.user_picture:hover img{
    transform: scale(1.2);
}


.developer_information .dev_tagline{
    word-spacing: 4px;
    line-height: 32px;
    margin-bottom: 30px;
}

.developer_information .dev_tagline_2{
    font-size: 20px;
}


.developer_information .dev_main_tag{
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 60px;
}

.developer_information .default_divider{
    margin: 30px auto 60px auto !important;
}

/* Skills Section */

.skill_section_personal .expertise_block{
    margin-top: 65px;
}

/* Expertise Block */

.skill_section_personal .expertise_block{
    cursor: pointer;
    padding:0 15px;
}

.expertise_block:hover i{
    transform: translateY(-5px);
    color: #232323 !important;
}


.expertise_block h3{
    transition: 300ms;
}

.expertise_block:hover h3{
    transform: translateY(-5px);
}

.expertise_block i{
    font-size: 60px;
    margin-bottom: 20px;
    transition: 300ms;
}


/* Cirlce Pie Section */

.progress_bar{
    height: 15px;
    overflow: visible;
    margin-bottom: 30px;
    border-radius: 50px;
    margin-top: 10px;
}

.progress_bar .progress-bar{
    position: relative;
    border-radius: 50px;
}

.progress_bar span{
    position: absolute;
    left: 97%;
    display: block;
    padding: 3px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 100;
    top: -40px;
}

.progress_bar span:before{
    display: table;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #232323;
    bottom: -8px;
    left: 23%;
}

/* Timeline Section */

.timeline {
    list-style: none;
    padding: 10px 0;
    font-weight: 300;
    color: #ffffff;
    position: relative;
}

.timeline h3 {
    color: #ffffff;
    position: absolute;
    top: -10%;
}

.timeline-footer{
    font-size: 14px !important;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 90%;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 24px 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.timeline > li:hover .timeline-panel {
    border: none;
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid rgba(255, 255, 255, 0.1);
    border-right: 0 solid rgba(255, 255, 255, 0.1);
    border-bottom: 14px solid transparent;
    content: " ";
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.timeline > li:hover .timeline-panel:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge > a {
    color: #b2b2b2;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}



.timeline-title {
    margin-top: 0;
    color: inherit;
}


.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p {
    padding: 14px 0;
    font-size: 17px;
}

.timeline-footer {
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
}

.timeline-footer p {
    margin-bottom: 0;
}

.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}

.no-float {
    float: none !important;
}

.timline-year {
    background: #dddddd;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    clear: both;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: 300ms;
}

.timline-year{
    color: #ffffff;
}

.timline-year h3{
    font-size: 15px;
    font-weight: bold !important;
    margin: 0;
}

.timline-year h3 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 500;
}

.timeline-heading h4{
    margin: 0;
}

.timeline-body,.timeline-footer{
    color: #ffffff;
    font-weight: 400;
}

.timeline{
    margin: 0;
}

/* Stats Section */

.stats_section{
    background: url("../images/stats_section.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.stats_section_icon{
    font-size: 40px;
    margin-bottom: 30px;
    transition: 300ms;
}

.stats_section_inner:hover .stats_section_icon{
    transform: translateY(-5px);
}

.stats_section_inner{
    cursor: pointer;
}

.stats_section_inner h3{
    margin-bottom: 15px;
}

/* Half Sections */

.half_section_main{
    position: relative;
}

.half_section_main .half_section_picture{
    left: 0;
    background: url(../images/half_section_left_bg.jpg);
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.half_section_main .side_section_text{
    padding-left: 30px;
}

.icons_div_small i{
    font-size: 30px;
    transition: 300ms;
    padding-right: 10px;
}

.icons_div_small{
    padding: 50px 0 0;
}

.icons_div_small p{
    margin-bottom: 10px;
}

.half_section_right .half_section_picture{
    right: 0 !important;
    left: auto;
    background: url(../images/half_section_right_bg.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.half_section_right .side_section_text{
    padding-left: 0;
    padding-right: 30px;
}

.progress_bar_outer_div{
    padding: 50px 0 0 0;
}

/* Portfolio Section */

.cube_masonry_style_portfolio #js-filters-masonry{
    text-align: center !important;
}


.cube_masonry_style_portfolio .cbp-l-filters-alignRight .cbp-filter-counter{
    background: #6d6d6d !important;
    border-radius: 0;
}

.cube_masonry_style_portfolio .cbp-l-filters-alignRight .cbp-filter-counter:after{
    border-top-color: #6d6d6d;
}

.cube_masonry_style_portfolio .cbp-l-filters-alignRight .cbp-filter-item:hover{
    color: #FFFFFF !important;
}

.cube_masonry_style_portfolio .cbp-l-caption-alignCenter .cbp-l-caption-body{
    background: #6d6d6d;
}

.cube_masonry_style_portfolio .cbp-l-caption-alignCenter .cbp-l-caption-body .cbp-l-caption-desc{
    color: #ffffff;
}

.cube_fullwidth_style_portfolio .cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active{
    color: #FFFFFF;
}

.cube_fullwidth_style_portfolio .cbp-l-filters-buttonCenter .cbp-filter-counter{
    background: #6d6d6d;
    border-radius: 0;
}

.cube_fullwidth_style_portfolio .cbp-l-filters-buttonCenter .cbp-filter-counter:after{
    border-top-color: #6d6d6d;
}

.cube_fullwidth_style_portfolio .cbp-l-filters-buttonCenter .cbp-filter-item{
    font-family: 'Open Sans', sans-serif;
}

.cube_fullwidth_style_portfolio .cbp-l-filters-buttonCenter .cbp-filter-item:hover{
    color: #FFFFFF;
}



/* Team Slider Section */

.team_detail h3{
    margin: 20px 0 5px;
    transition: 1s;
}

.team_detail_inner img{
    width: 100%;
    transition: 300ms;
}

.team_detail_inner li{
    display: inline-block;
    list-style-type: none;
}

.team_detail_inner ul{
    margin: 0;
    padding: 0;
}

.team_detail_inner{
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    border-radius: 190px;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(1px);
}

.team_detail:hover .team_detail_inner img{
    transform: scale(1.1);
}

.team_members_list .facebook_team:hover {
    background: #3b5998;
    color: #FFFFFF;
}

.team_members_list .twiiter_team:hover {
    background: #00b2ff;
    color: #FFFFFF;
}

.team_members_list .google_team:hover {
    background: #0077b5;
    color: #FFFFFF;
}

.team_members_list{
    padding:0;
    margin:15px  0 0;
}

.team_members_list li{
    margin: 0 3px;
}

.team_members_list li{
    list-style-type: none;
    display: inline-block;
}

.team_members_icons {
    border-radius: 15px;
    color: #232323;
    width: 31px;
    height: 31px;
    transition: 1s;
    text-align: center;
    display: inline-block;
    line-height: 31px;
}

.team_members_icons:hover {
    color: #232323;
}

/* Pricing Section */

.pricing_section{
    position: relative;
    z-index: 0;
}

.pricing_section:before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,.9);
}

.pricing_table_section{
    position: relative;
    z-index: 9;
}

.pricing_table_column{
    border: 2px solid #FFFFFF;
    padding: 32px 21px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
}

.pricing_table_column h3{
    margin-bottom: 20px;
}

.price{
    padding: 20px 0 30px;
    border-top: 2px solid rgba(48, 56, 64, 0.18);;
    border-bottom: 2px solid rgba(48, 56, 64, 0.18);;
}

.price h2 .dollar{
    font-size: 18px;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 10px;
}

.price h2{
    margin-left: 20px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 42px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.price h2 .month{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    left: 9px;
    bottom: -9px;
    color: #232323;
}

.price p{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    color: #232323;
}

ul.packages{
    padding: 20px 0;
}

ul.packages li{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    list-style-type: none;
    color: #232323;
}

ul.packages li i{
    display: inline-block;
    width: 24px;
    color: #6d6d6d;
}

.pricing_button a{
    width: 100%;
    text-align: center;
}

.blue_price{
    background: #6d6d6d;
    color: #FFFFFF !important;
    border-color: #6d6d6d;
    transition: 500ms;
}

.blue_price:hover{
    background: #232323;
    border-color: #232323;
}

.blue_price .price h2{
    color: #FFFFFF;
}

.blue_price .price h2 .month{
    color: #FFFFFF;
}

.blue_price p{
    color: #FFFFFF;
}

.blue_price ul.packages li{
    color: #FFFFFF;
}

.blue_price ul.packages li i{
    color: #FFFFFF;
}

.blue_price .price{
    border-color: #FFFFFF;
}

.blue_price .pricing_button a{
    color: #232323;
}

.blue_price .pricing_button a:hover{
    color: #FFFFFF;
}


/* Customer Feedback Slider */

.customer_feedback_section{
    background: url("../images/customer_review_bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.customer_feedback_section .quote_pic{
    margin: 0 auto;
    margin-bottom: 20px;
}

.customer_feedback_section .customer_feedback_text{
    width: 85%;
    margin: 0 auto;
    display: block;
    margin-bottom: 45px;
    font-size: 16px;
}

.customer_feedback_section .customer_feedback_name{
    margin-bottom: 100px;
}

.customer_feedback_section .swiper-pagination{
    margin-top: 50px;
}

.customer_feedback_section .swiper-pagination .swiper-pagination-bullet{
    background: transparent;
    border: 2px solid #ffffff;
}

.customer_feedback_section .swiper-pagination .swiper-pagination-bullet-active{
    background: #ffffff;
}

.customer_feedback_section .swiper-button-next{
    background-image: none;
    color: #ffffff;
    font-size: 35px;
    top: 10%;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    line-height: 50px;
    transition: 400ms;
}

.customer_feedback_section .swiper-button-next:hover{
    color: #ffffff;
    font-size: 35px;
    top: 10%;
}

.customer_feedback_section .swiper-button-prev{
    background-image: none;
    color: #ffffff;
    font-size: 35px;
    top: 10%;
    transition: 1s;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    line-height: 50px;
}

.customer_feedback_section .swiper-button-prev:hover{
    color: #ffffff;
    font-size: 35px;
    top: 10%;

}



/* Blog Section */

.blog_slide{
    cursor: pointer;
}

.blog_slide a>h3{
    transition: 1s;
    margin-bottom: 5px;
}


.blog_slider_main .swiper-pagination{
    position: static;
    padding-top: 90px;
}


.blog_slider_main .swiper-pagination-bullet{
    background: #6d6d6d;
    opacity: 1;
}

.blog_img{
    width: 100%;
    overflow: hidden;
    margin: 15px 0;
    border-radius: 5px;
}

.blog_img img{
    width: 100%;
    transition: 300ms;
}

.blog_img:hover img{
    transform: scale(1.1);
}

/* Map */
#map{
    height: 400px;
    position: relative;
}

/* Contact Form */

.contact_form_extra_inner{
    margin: 30px 0 0 0;
}

.contact_form_inner{
    background: #fff;
}

.form_icon{
    font-size: 28px;
    transition: 1s;
}


.form_text{
    font-size: 15px;
    line-height: 28px;
    transition: 1s;
}


.form_icon{
    padding-top: 5px;
}

.form_padding_left_0{
    padding-right: 0;
}

.form_padding_right_0{
    padding-left: 0;
}

.contact_form_section .mew_form .button_div a i{
    margin-right: 15px;
    margin-left: -10px;
}

.mew_form .form_inputs{
    width: 100%;
    border: 1px solid #e4e4e4;
    background: #F4F4F4;
    padding: 15px 20px;
    color: #b5b5b5;
    margin-bottom: 30px;
    border-radius: 10px;
}

.form_inputs:focus{
    outline: none;
}

.form_textarea{
    height: 200px;
    resize: none;
    border-radius:10px !important;
}

.form_inputs::-webkit-input-placeholder {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.mew_form{
    padding: 70px 0;
}

/* Footer Section */

.footer_section{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_links{
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.footer_links li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

.footer_links li a{
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 1s;
}

.facebook:hover{
    background: 	#3b5998 !important;
    color: #FFFFFF;
}

.twitter:hover{
    background: 	#00B2FF !important;
    color: #FFFFFF;
}

.g_plus:hover{
    background: #C9302C !important;
    color: #FFFFFF;
}

.linkedin:hover{
    background: #0077B5 !important;
    color: #FFFFFF;
}

.pinterest:hover{
    background: #BD081C !important;
    color: #FFFFFF;
}


/* blog styling start */

.blog_meox .innerpage-banner {
    padding-top: 250px;
    color: #ffffff;
    margin-bottom: 45px;
}

.blog_meox .innerpage-banner h2 {
    margin-bottom: 0;
    color: #fff;
}

.blog_meox .tagline {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 45px;
}

.blog_meox .blog-item-v3 {
    border-bottom: 1px solid #d1d2d2;
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.blog_meox .blog-item-v3>img {
    margin-bottom: 35px;
    height: 380px;
    width: 100%;
}

.blog_meox .blog-item-v3 h3 {
    font-size: 30px;
    color: #232323;
}

#area-main ul.blog-author {
    margin: 30px 0 35px 0;
    padding: 0;
}

#area-main ul.blog-author li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

#area-main ul.blog-author li a {
    color: #232323;
    font-size: 14px;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: 1s;
}


#area-main ul.blog-author li a .fa {
    margin-right: 5px;
}

#area-main p {
    color: #232323;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#area-main .buttons {
    text-decoration: none;
    padding: 13px 50px;
    background: #232323;
    display: inline-block;
    color: #FFFFFF;
    border: none;
}



.blog_meox .morepost-wrap2 {
    border-bottom: 1px solid #d1d2d2;
    padding-bottom: 25px;
}

.blog_meox .morepost-wrap .morepost,
.morepost-wrap2 .morepost {
    font-size: 16px;
    color: #232323;
    display: inline-block;
    position: relative;
    visibility: visible;
    animation-duration: 500ms;
    animation-delay: 300ms;
    text-decoration: none;
}


.blog_meox .morepost-wrap2 .morepost .fa-long-arrow-left,
.morepost-wrap2 .morepost .fa-long-arrow-right,
.morepost-wrap .morepost .fa-long-arrow-left,
.morepost-wrap .morepost .fa-long-arrow-right {
    color: transparent;
    position: absolute;
    text-shadow: 0 0 transparent;
    top: 7%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0 !important;
    filter: alpha(opacity=0);
}

.blog_meox .morepost-wrap2 .morepost:hover .fa-long-arrow-left,
.morepost-wrap .morepost:hover .fa-long-arrow-left {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    right: 100%;
}

.blog_meox .morepost-wrap2 .morepost:hover .fa-long-arrow-right,
.morepost-wrap .morepost:hover .fa-long-arrow-right {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    left: 118%;
}

.blog_meox .widget {
    margin-bottom: 40px;
    color:#232323;
}

.blog_meox .search_box input {
    border: 1px solid #d9d9d9;
    height: 53px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.blog_meox .search_box i {
    border-left: 1px solid #d9d9d9;
    bottom: 0;
    color: #d9d9d9;
    font-size: 24px;
    height: 53px;
    padding: 15px;
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
}

.blog_meox .widget h4,
.widget img {
    margin-bottom: 25px;
}

.blog_meox .widget h4 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

.blog_meox ul.category li {
    margin-top: 15px;
    display: block;
}

.blog_meox ul.category {
    padding: 0;
}

.blog_meox ul.category li a {
    color: #232323;
    font-size: 16px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    display: block;
    text-transform: capitalize !important;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.blog_meox ul.category li a .date {
    font-size: 12px;
    display: block;
}


#area-main .tag-cloud {
    padding: 0;
    margin: 0;
}

#area-main .tag-cloud li {
    display: inline-block;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
    border-radius: 0;
}

#area-main .tag-cloud li a,
.blog-reply a.btn-rep {
    background: #efefef;
    color: #232323;
    font-size: 12px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 1s;
}

#area-main .tag-cloud li a:hover,
.blog-reply a.btn-rep:hover {
    color: #FFFFFF;
}

.blog_meox .blog-item .blog-content {
    padding: 0;
    margin: 35px 0;
}

.blog_meox .blog-item blockquote {
    font-family: 'Open Sans', sans-serif;
}

.blog_meox blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.blog_meox .blog-item .post-tag {
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-bottom: 70px;
}

.blog_meox .social-link {
    margin: 0;
}

.blog_meox .social-link li {
    display: inline-block;
}

.blog_meox .social-link li a {
    width: 44px;
    height: 44px;
    display: block;
    border: 1px solid #232323;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #232323;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.blog_meox .social-link li a i {
    line-height: 42px;
    font-size: 20px;
}

.blog_meox .social-link li a:hover {
    color: #fff;
}

.blog_meox .blog-reply {
    padding: 10px;
    border: 1px solid #f3f3f3;
    position: relative;
    margin: 20px 0;
    border-radius: 5px;
}

.blog_meox .media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.blog_meox .blog-reply a.btn-rep {
    position: absolute;
    top: 0;
    right: 0;
}

.blog_meox .blog-item .post-comment form .form-control,
.contact form .form-control,
.blog-item .post-comment form textarea,
.contact form textarea,
.index_3 .form-inline .form-control,
.index_3 .form-inline textarea {
    padding: 15px;
    font-size: 14px;
    color: #232323;
    border: 1px solid #d0d0d0;
    width: 100%;
    -webkit-border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}

.blog_meox .blog-item .post-comment form textarea,
.contact form textarea {
    margin: 30px 0;
    min-height: 210px;
}

.blog_meox .blog-item .post-comment form .form-control,
.contact form .form-control {
    height: 50px;
}

.blog_meox .blog-item .post-comment h3 {
    margin-bottom: 35px;
    margin-top: 70px;
}

.blog_meox .blog-item .post-comment form a:before,
.contact form input a:before {
    background:#232323;
}

.blog_meox .blog-item .post-comment form a,
.contact form a {

    color: #fff;
    height: 50px;
    position: relative;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    margin-bottom: 60px;
}

.making_slide_center_text{
    text-align: center !important;
    display: block !important;
}

.making_slide_right_text{
    text-align: right !important;
    display: block !important;
}

/* Standalone Page Styling */

.half_img_standalone{
    width: 100%;
}

.text-side-half{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.img-side-half{
    position: relative;
    left: 50%;
}

.right_section_img{
    position: static;
}

.righ_section_text{
    transform: translateXY(-50%);
    left: 50%;
}

.standalone-detail h2{
    margin-bottom: 25px;
}

.half_sections_outer{
    margin-bottom: 60px;
}

/* coutndown */

.countdown .bg_index{
    background: url("../images/countdown_bg.jpg");
    width:100%;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.countdown_dark .bg_index{
    background: url("../images/countdown_bg_2.jpg") !important;
}

.countdown .page_content_body{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
}

.countdown ul.count_down {
    list-style: none;
    margin: 65px 0 0 0;
    padding: 0;
    display: block;
    text-align: center;
}

.countdown ul.count_down li {
    display: inline-block;
    color: #232323;
    padding: 0 35px;
    font-family: Raleway;
    width: 165px;
}

.countdown ul.count_down li p:nth-child(1) {
    font-size: 70px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 0 0;
    transition: 1s;
}

.countdown ul.count_down li p:nth-child(2) {
    color: #232323;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0 0;
    transition: 1s;
}

.countdown .page_content_body form{
    width:75%;
    margin: 0 auto;
    margin-top: 65px;
    position: relative;
}

.countdown_dark .page_content_body form input{
    border-bottom: 2px solid #FFFFFF !important;
}

.countdown .page_content_body form input{
    border: transparent;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #232323;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #232323;
    text-align: left;
    height:45px;
}
.countdown .page_content_body form input:focus{
    box-shadow: none;
}

.countdown input[type="email"].form_placeholder1::-webkit-input-placeholder {
    color:#232323;
}
.countdown .page_content_body form a{
    transition: all linear 300ms;
    position: absolute;
    top: 6px;
    right: 4px;
}
.countdown .page_content_body form a:hover{
    right: 0;
}


.countdown .page_content_body form i{
    font-size: 18px;
    color: #232323;
    transition: 1s;
}
.countdown .page_content_footer{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width:100%;
}
.countdown .page_content_footer ul{
    margin-right: 25px;
    margin-bottom: 25px;
}
.countdown .page_content_footer ul li{
    display: inline-block;
    margin: 6px !important;
}


.countdown .page_content_footer ul li a{
    color: #232323;
    transition: 1s;
    font-size: 18px;
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.countdown_dark .page_content_footer ul li a i{
    color: #FFFFFF !important;
}

.countdown .page_content_footer ul li a i{
    transition: 1s;
    color: #232323;
}

.days_ref{
    color: #232323;
}
.countdown .page_content_footer ul li a:hover i{
    color: #ffffff ;
}
.countdown .page_content_footer ul li:nth-child(1) a:hover{
    background-color:#3B5998 ;
}
.countdown .page_content_footer ul li:nth-child(2) a:hover{
    background-color: #1da1f2;
}
.countdown .page_content_footer ul li:nth-child(3 ) a:hover{
    background-color: #0077b5;
}
.countdown .page_content_footer ul li:nth-child(4) a:hover{
    background-color: #1769ff;
}
.countdown .page_content_footer ul li:nth-child(5) a:hover{
    background-color: #1ab7ea;
}

.countdown .page_content_header{
    position: absolute;
    width: 100%;
}
.countdown .page_content_header img {
    padding-top: 25px;
    padding-left: 25px;
    max-width: 180px;
}

/* For Dark Countdown Background */
.countdown_dark .page_content_footer ul li a,
.countdown_dark .page_content_body form i,
.countdown_dark input[type="email"].form_placeholder1::-webkit-input-placeholder,
.countdown_dark ul.count_down li p:nth-child(2),
.countdown_dark .page_content_body form input,
.countdown_dark ul.count_down li{
    color: #FFFFFF !important;
}


/* Index Eleven Styling */

.portfolio_scroll_parrallax_section h2{
    font-size: 26px !important;
}

.portfolio_scroll_parrallax_section p{
    font-size: 17px;
    font-weight: 300;
}

.portfolio-link{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    display: block;
    transition: 300ms;
}

.white-portfolio-link{
    border:1px solid #ffffff;
    color: #ffffff;
}

.white-portfolio-link:hover{
    background: #ffffff;
}

.white-portfolio-link:focus{
    color: #ffffff !important;
}

.dark-portfolio-link{
    border:1px solid #232323;
    color: #232323;
}

.dark-portfolio-link:hover{
    background: #232323;
    color: #ffffff;
}

.dark-portfolio-link:focus{
    color: #232323;
}

.video_button_slider_section{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.video_button_slider_section_inner{
    position: absolute;
    z-index: 9;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}

.video_button_slider_section_inner h1{
    margin-bottom: 25px;
}

.video_button_slider_section_inner p{
    margin-bottom: 30px;
}

.video_button_slider_section_inner .video-btn{
    width: 80px;
    height: 80px;
    text-align: center;
    background: rgba(255,255,255,.2);
    color: #ffffff;
    display: block;
    line-height: 80px;
    border-radius: 100px;
    margin: 0 auto 30px;
    transition: 300ms;
}


#html5-close > img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #414141;
    height: 30px;
    width: 30px;
}


/* Index Thirteen */

.svg-page .body-parallax-none{
    background-attachment: local !important;
}

.svg-page .svg_triangle_down{
    position: absolute;
    bottom: -4px;
    z-index: 16;
    width: 100%;
}

.svg_triangle_down_3{
    transform: rotate(180deg);
    bottom: -97px !important;
}


.svg_top{
    top:-4px !important;
}


.div_rotator_svg{
    transform: rotate(-2deg);
    width: 104%;
    position: relative;
    left: -2%;
    z-index: 9;
}

.div_rotator_svg_reverse{
    transform: rotate(2deg);
}

.gradient-overlay-slider{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(60deg, rgba(220, 207, 53, 0.76) 0%, rgba(220, 53, 69, 0.67) 70%);
}

/* Index fifteen */

.columned_portfolio_slider_outer{
    position: relative;
    height: 100vh;
    cursor: pointer;
    z-index: 1;
}

.overlay_black_columned_slider{
    height: 100vh;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.overlay_black_columned_slider:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.columned_portfolio_slider_outer:hover .overlay_black_columned_slider:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.columned_portfolio_slider_inner {
    padding: 0 50px 15px 50px;
    position: absolute;
    bottom: 30px;
    z-index: 999;
    transition: 500ms;
}

.columned_portfolio_heading{
    font-size: 30px;
    transition: 400ms;
    margin: 15px 0;
}

.columned_portfolio_slider_outer:hover .columned_portfolio_slider_inner{
    transform: translateY(-150px);

}

.index-only-side-nav-dark .menu_bars{
    background: rgba(0,0,0,.6) !important;
}

.index-only-side-nav-dark .menu_bars span{
    background: #ffffff;
}

.index-only-side-nav-dark .menu_bars:hover span{
    background: #ffffff !important;
}

.index-only-side-nav-dark .menu_bars{
    top:0 !important;
}

.index-only-side-nav-dark .side_small_nav .menu_bars.active.right{
    top:24px !important;
}

.side_small_nav .pushmenu{
    background: transparent;
    box-shadow: none;
    border: none;
}

.side_small_nav  .menu_bars.active.right {
    background: none;
    padding: 7px 6px 11px 13px;
    right: 47px;
}

.side_small_nav .menu_bars.active.right{
    top: 60px;
}

.side_small_nav .pushmenu .push_nav > li > a{
    text-transform: uppercase;
    display: inline-block;
    background: #000000b8;
    font-size: 20px;
    padding: 5px !important;
    transition: 300ms;
    color: #ffffff !important;
    margin-bottom: 15px !important;
}

.side_small_nav .pushmenu .push_nav{
    margin-top: 100px;
}

.side_small_nav .menu_bars{
    border-radius: 0;
}

.side_small_nav .pushmenu .push_nav > li > a:hover{
    background: #000;
}

.side_small_nav .pushmenu .push_nav{
    margin-top: 70px !important;
}

.side_small_nav .pushmenu .push_nav{
    background: transparent;
}

.side_small_nav .pushmenu.pushmenu-open .push_nav > li{
    background: transparent;
    text-align: right;
}

.side_small_nav .pushmenu{
    width: auto !important;
}

.post-detail-modal{
    background: transparent !important;
}

.post-detail-modal-inner{
    background: #ffffff;
}

.fancybox-slide > div{
    padding: 0;
    margin: 0;
}

#modal-post-fancy-box-6{
    width: auto !important;
}

.post-img-outer-slider{
    width: 70%;
    background: #232323;
    height: 30px;
    height: 500px;
    float: left;
}

.portfolio-slider-post{
    height: 100%;
}

.portfolio-slider-post .swiper-slide{
    height: 100%;
    background-size: cover !important;
    width: 100% !important;
}

.portfolio-slider-post .swiper-pagination-bullet{
    background: #ffffff73;
    transition: 300ms;
}

.portfolio-slider-post .swiper-pagination-bullet-active, .portfolio-slider-post .swiper-pagination-bullet:hover{
    background: #ffffff !important;
}

.post-modal-detail-user{
    width: 30%;
    height: 500px;
    float: left;
    padding: 25px;
    position: relative;
}

.hashtags_div{
    margin-top: 15px;
}

.hashtags_div a{
    font-family: 'Raleway', sans-serif;
    color: #003569;
    margin-right: 10px;
    text-decoration: none;
}

.hashtags_div a:hover{
    color: #003569;
    text-decoration: none;
}

.fancybox-close-small:after {
    content: 'Ã—';
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    background: #fff;
    transition: background .25s;
    box-sizing: border-box;
    z-index: 2;
}

.contact-form-modal{
    background-color: #232323 !important;
    width: 100%;
}

.input-form-contact-modal-inner{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.input-form-contact-modal-inner-textarea{
    height: 150px;
}

.input-form-contact-modal-inner::placeholder{
    color: #9fa3a8;
}

/* index-nineteen */
.not_found_stlye .tp-imgopacity img{
    opacity:0.5
}
.not_found_stlye .revtp-searchform input#s{
    font-family:"Arial",sans-serif;
    font-size:20px !important;
    font-weight:700;
    color:#fff !important;
    background-color:transparent;
    line-height:56px !important;
    padding:0 20px !important;
    cursor:text;
    border:2px solid #fff;
    width:380px;
    margin-bottom:0px;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    transition:background-color 0.5s;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px
}
.not_found_stlye .revtp-searchform input#s::placeholder{
    color:#fff !important
}
.not_found_stlye .revtp-searchform input#s::-webkit-input-placeholder{
    color:#fff !important
}
.not_found_stlye .revtp-searchform input#s::-moz-input-placeholder{
    color:#fff !important
}
.not_found_stlye .revtp-searchform input#s[type="text"]:focus{
    background-color:rgba(255,255,255,0.15)
}
.not_found_stlye .revtp-searchform input#searchsubmit,.revtp-searchform input#searchsubmit:focus{
    font-family:"Arial",sans-serif;
    line-height:60px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:15px;
    font-weight:700;
    padding:0 20px;
    border:0;
    background:#fff;
    color:#000;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px
}
.not_found_stlye .revtp-searchform input#searchsubmit:hover{
    color:#fff;
    background:#ff00ff
}



/* Media Queries For Different Break Points */

@media only screen and (max-width:767px){
    .not_found_stlye .revtp-searchform input#s{
        width:280px
    }
}
@media only screen and (max-width:479px){
    .not_found_stlye .revtp-searchform input#s{
        width:200px
    }
}


@media only screen and (min-width: 1600px){
    .container_big {
        width: 1360px;
    }
}

/* 1300px Medium Screen */
@media only screen and (max-width: 1300px) {
    .columned_portfolio_heading{
        font-size: 26px;
    }
}

/* 1200px Medium Screen */
@media only screen and (max-width: 1200px){

    .big_padding{
        padding: 100px 0;
    }

    .client_detail{
        padding: 0;
    }

    .button_default_style{
        padding: 13px 50px;
        font-size: 15px;
    }

    .bordered_button{
        padding: 11px 48px !important;
        font-size: 15px;
    }


}


/* 991px Tablet Screen */
@media only screen and (max-width: 992px){

    .columned_portfolio_heading{
        text-align: center;
    }

    .columned_portfolio_slider_inner{
        text-align: center;
    }

    .picker-off{
        transform: translateY(-50%);
        right:10px;
    }

    .color-switcher{
        transform: translateY(-120%);
        right: 10px;
    }

    .customer_feedback_section .customer_feedback_text{
        width: 100%;
        font-size: 14px;
    }

    .big_padding{
        padding: 80px 0;
    }

    .index-two .contact_form_inner{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .default_section_heading{
        font-size: 32px;
    }

    .default_text{
        font-size: 14px;
    }

    .index-two .skill_section_inner{
        padding-top: 50px;
    }

    .default_divider{
        width: 50px;
        margin-bottom:30px;
        margin-left: auto !important;
    }

    .all_big_padding{
        padding: 50px;
    }

    .skill_section{
        position: static;
        transform: translate(0);
        left: auto;
    }

    .circle_pie_section{
        padding-top: 50px !important;
    }

    .portfolio_information{
        padding: 20px 0;
    }

    .margin_after_tab{
        margin-bottom: 35px;
    }

    .expertise_block{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .client_detail{
        padding: 6px 0;
    }

    .mew_form{
        padding: 50px 0;
    }

    .center_on_mobile{
        text-align: center;
    }

    .center_after_mob{
        margin-left: auto !important;
    }

    .footer_links li a{
        font-size: 16px;
        width: 35px;
        height:35px;
        line-height: 35px;
    }

    .contact_form_inner{
        transform: translateY(0%);
        background: #fff;
    }

    .swiper-slider-heading{
        font-size: 32px;
    }

    .text-side-half{
        position: static;
        transform: translateY(0);
        text-align: center;
        margin-bottom: 30px;
    }

    .text-side-half .default_divider{
        margin-left: auto !important;
    }

    .img-side-half{
        position: static;
        transform: translateY(0);
    }

    .righ_section_text{
        margin-top: 30px;
        margin-bottom: 0;
    }

    .all_small_padding{
        padding: 25px;
    }

    .skill_section_small_divide{
        min-height: inherit;
        margin: 30px 0;
        box-shadow: 0px 8px 52px 1px rgba(0,0,0,0.05);
    }

    .skill_section_small_divide .default_divider{
        margin-bottom: 20px;
    }

    .tabbed_skills .skill_section{
        transform: translate(0);
    }

    .half_section_main .side_section_text{
        padding-left: 0;
        text-align: center;
    }

    .half_section_main .side_section_text .default_divider{
        margin-left: auto !important;
    }

    .half_section_right .side_section_text{
        padding-right: 0;
    }

    .stats_section_inner{
        margin-bottom: 45px;
    }

    .stats_section_icon{
        margin-bottom: 15px;
    }

    .form_padding_left_0{
        padding-right: 15px;
    }

    .form_padding_right_0{
        padding-left: 15px;
    }

    .navbar .navbar-nav li a{
        font-size: 12px;
    }

    .push_nav{
        margin-top: 0 !important;
    }

    .centered-nav .navbar .navbar-nav li{
        padding: 0 15px;
    }

    .centered_main_logo img{
        width: 160px;
    }

    .extra_big_padding{
        padding: 200px 0;
    }

    .portfolio_scroll_parrallax_section h2{
        font-size: 20px !important;
        margin-bottom: 5px;
    }

    .portfolio_scroll_parrallax_section p{
        font-size: 13px !important;
    }

    .portfolio_scroll_parrallax_section .portfolio-link{
        font-size: 14px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .video_button_slider_section_inner .video-btn{
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .div_rotator_svg{
        transform: rotate(0);
    }

    .div_rotator_svg_reverse{
        transform: rotate(0);
    }

    .post-img-outer-slider{
        height: 350px;
        width: 100%;
    }

    .post-modal-detail-user{
        height: auto;
        width: 100%;
    }
    .side_small_nav .pushmenu .push_nav > li > a{
        font-size: 12px;
    }


    .skill_section_personal .expertise_block{
        margin-top: 45px;
    }

    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }

    ul.timeline > li > .timeline-panel {
        width: 83%;
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }

    .timline-year {
        margin: -10px;
        background: transparent;
        color: #fff;
        margin-left: 13px;
    }

    .default_small_heading{
        font-size: 16px;
    }


}

/* 768px Medium Screen */
@media only screen and (max-width: 768px){

    .default_section_heading{
        font-size: 28px;
    }

    .swiper-slider-heading{
        font-size: 28px;
    }

    .default_text{
        font-size: 13px;
        line-height: 30px;
        word-spacing: 1px;
    }

    .default_divider{
        width: 40px;
        margin: 15px auto 30px;
    }

    .default_small_heading{
        font-size: 15px;
    }

    .circle_pie_section{
        padding-top: 30px !important;
    }

    .small_heading_navy{
        font-size: 20px;
    }

    .swiper-slider-small-heading{
        font-size: 20px;
    }

    .portfolio_information{
        padding: 15px 0;
    }

    .expertise_block i{
        font-size: 48px;
    }

    .expertise_block{
        width: 80%;
    }

    .blog_slider_main .swiper-pagination{
        padding-top: 30px;
    }

    .mid_default_margin{
        margin-top: 30px;
    }

    .button_default_style{
        padding: 9px 40px;
        font-size: 13px;
    }

    .bordered_button{
        padding: 7px 38px;
        font-size: 13px;
    }

    .bordered_button{
        padding: 7px 38px !important;
    }

    .portfolio_section .button_div h2{
        font-size: 20px;
    }

    .all_big_padding{
        padding: 50px 0;
    }

    .blue_price{
        margin: 50px 0;
    }

    .bottom_inner .side-menu-button{
        display: block;
    }

    .centered-nav .navbar-header{
        position: static;
        transform: translate(0);
    }

    .countdown .page_content_header{
        position: static;
        margin-bottom: 30px;
    }
    .countdown .page_content_header img{
        margin:0 auto;
        display: block;
        padding-left: 0;
        width: 100px;
        padding-top: 30px;
    }
    .countdown .page_content_body h1{
        font-size: 24px;
    }
    .countdown .page_content_body p{
        font-size: 12px;
        margin:30px 0 0 0;
    }
    .countdown .page_content_body ul{
        margin: 30px 0 0 0;
    }
    .countdown .page_content_body ul li{
        padding: 0 10px;
        width: 70px;
    }
    .countdown ul.count_down li p:nth-child(1){
        font-size: 26px;
    }
    .countdown ul.count_down li p:nth-child(2){
        font-size: 10px;
    }
    .countdown .page_content_body form{
        margin: 30px auto;
        width:70%;
    }
    .countdown .page_content_body form input{
        font-size: 14px;
    }
    .countdown .page_content_footer{
        text-align: center;
        position: static;
    }
    .countdown .page_content_footer ul{
        margin-bottom:0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        bottom: 30px;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .extra_big_padding{
        padding: 120px 0;
    }

    .form-contact-modal{
        padding: 0 30px;
    }
    .columned_portfolio_slider_inner{
        padding: 0 5px 0 5px;
    }

    .columned_portfolio_slider_inner .default_divider{
        margin-bottom:10px;
    }
    .columned_portfolio_slider_outer:hover .columned_portfolio_slider_inner{
        transform: translateY(-50px);
    }
    #modal-post-fancy-box-6{
        width: 100% !important;
    }
    .side_small_nav .menu_bars.active.right span{
        width: 14px;
    }

    .user_picture {
        width: 150px;
        height: 150px;
    }

    .developer_information .dev_main_tag{
        line-height: 40px;
        margin-top: 0;
    }
    .developer_information .dev_tagline{
        margin-bottom: 20px;
    }

}



@media only screen and (max-width: 450px) {

    .button_div a.btn1{
        transform: translateX(0px);
    }

    .button_div a.btn2{
        transform: translateX(0px);
        margin: 15px 0;
    }

    .page_content_main_slider .swiper-slider-small-heading{
        margin-bottom: 15px;
    }

    .extra_big_padding{
        padding: 90px 0;
    }

}


