/*
Theme Name: Quickfood
Theme URI: http://themetrademark.com/demo/quickfood
Author: Vergatheme
Author URI: http://themetrademark.com/
Description: In 2016, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: quickfood 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Repeatable Patterns
-------------------------------------------------------------- */
.screen-reader-text{}
.wp-caption {}
.wp-caption-text {}
.gallery-caption {}
.bypostauthor {}
.alignright {}
.alignleft {}
.aligncenter {}
.screen-reader-text{}
div#view-menu {
	background: #78cfcf;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}
div#view-menu:hover {
    background: #006987;
    text-align: center;
}
div#view-menu > a {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: #d9534f;
}
div#view-menu:hover > a{
color: #FFF;
}

#loading-excel{
    position: fixed;
    left: 50%;
    top: 180px;
}
input[class=a],input[class=all], input[class=b],  input[class=c] {
        background-position: -48px 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 2px 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(grey.html) no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
.box_style_2 ._50.form-group.card-form {
    
    float: left !important;
}
.box_style_2  ._100.form-group.form-br{
    display: inline-block !important;
}
.month-form label.control-label.fullstripe-form-label , .year-form label.control-label.fullstripe-form-label{
    display: block;

}
.box_style_2 ._25.form-group.month-form , .box_style_2 ._25.form-group.year-form{display: inline-block;}
.box_style_2 ._25.form-group.month-form select{
    padding: 10px;
    margin-right: 4em;
}
.box_style_2 ._25.form-group.year-form select{
    padding: 10px;
}
.date-form{    justify-content: flex-end;
    display: flex;}
.panel-group .panel+.panel {
    margin:  0 auto !important;
}
.panel-group .panel{border-radius: 0px !important;}
.panel-default{border: none !important;}
.comment-respond input#submit{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #85c99d;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}
.comment-respond input#submit:hover{
    background: #333;
}
#comments ol{list-style: none;}
ul.children > li{
    padding: 23px 0 0 30px !important;
    margin: 0;
}
body.logged-in header{
    top:32px;
    padding-top: 15px;
}
@media(max-width: 450px){
    body.logged-in header{
    top:0px;
}
.main-menu > ul {
    margin-top: 0px;
}
}
.ec-simple-frame > img{max-width: 100%; height: auto;}
.ec-404page p {
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 1.1em;
}
.ec-404page ul{
float: left;
    width: 100%;
    margin-bottom: 0px;
}
.ec-404page ul li{
    float: left;
    width: 100%;
    line-height: 28px;
}
.ec-404page ul li:before {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 0px;
    width: 94%;
    height: 1px;
    border-bottom: 1px solid #f5f5f5;
}
.ec-404page ul li i {
    margin-right: 14px;
    font-size: 1em;
        color: #ec008c;
}

.margin_60_35 > .vc_column_container {padding-left: 15px; padding-right: 15px;}


.container-fluid , .container-fluid .nopadding >  .vc_column-inner , .vc_col-sm-12 > .vc_column-inner{
    padding: 0px !important;
}
#hero_video{position: absolute !important;}
.header-video  [class*='vc_col-']  {position: initial !important;}
.wpb_layerslider_element.wpb_content_element{margin-bottom: 0px;}
.margin_60{
display: flex;
}
#contacts > .vc_column_container > .vc_column-inner  > .wpb_wrapper{
    background: #fff !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid #ededed !important;
    margin-bottom: 25px !important;
    padding: 25px !important;
}
#contacts > .vc_column_container > .vc_column-inner  > .wpb_wrapper h2.inner {
    background-color: #78cfcf;
    color: #fff;
    margin: -25px -25px 25px -25px;
    padding: 12px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/*.main-menu > ul {
  margin-top: -20px;
}*/
.popup-form #rememberme{
        -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-right: 0.5em;
}
.popup-form .login-remember label {
    color: #FFF;
    font-size: 1.3em;
}
nav.col--md-8{padding-right: 30px;}
ul.slides-container li img{opacity: 1 !important;}
.page-template-coming-soon #social_footer ul li a{
    background: none !important;
    color: #FFF !important;
}
.page-template-coming-soon  #social_footer ul li a:hover{
    background: #FFF !important;
    color: #000 !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: #fff !important;
    color: #ec008c !important;
}
section.custom-background{
    background: url(img/sub_header_cart.jpg) no-repeat center center;
    background-size: cover;
}
@media only screen and (max-width: 991px){
   .main-menu > ul {
      margin-top: 0px !important;
    } 
    .main-menu ul.dropdown-menu{
    visibility: visible;
    font-size: 13px;
    border-left: 1px solid #ededed;
    margin: 0 0 15px 0px;
    padding-left: 25px;
    width: 100%;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  CALENDAR STYLES WIDGET
/*-----------------------------------------------------------------------------------*/
.widget_calendar {float: none;}
#wp-calendar {width: 100%; }
#wp-calendar caption { 
    background: none repeat scroll 0 0 #E9E9E9;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
    text-align: center; 
}
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th {
    border: 1px solid #E9E9E9;
    font-size: 13px;
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #E9E9E9; text-align: center; padding:6px;}
#wp-calendar tbody td#today {background: #ffba00;color: #fff;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot {border: 1px solid #E9E9E9;}
#wp-calendar tfoot #next { font-size: 12px; text-transform: uppercase; text-align: right; color: #ffba00;}
#wp-calendar tfoot #prev { font-size: 12px; text-transform: uppercase; padding-top: 10px; color: #ffba00;}

.widget select {max-width: 100%;padding: 5px;border: 1px solid #ccc; width: 100%;}
.widget_text .textwidget img{max-width: 100%;height: auto;}
.widget_text select, .widget_text input , .widget_text textarea  {max-width: 100%;padding: 5px;border: 1px solid #ccc; width: 100%;}
.widget_text option {max-width: 100%;}
.widget_text .textwidget form.wpcf7-form input[type="submit"]{
    width: auto !important;
    padding: 0 20px !important;
}

.widget_nav_menu ul li, .widget_pages ul li {color: #827b7d;line-height: 28px;font-size: 13px;}
.widget_nav_menu ul li ul, .widget_pages ul li ul {padding-left: 15px;}
.widget_nav_menu ul li a, .widget_pages ul li a{color: #827b7d;}
.widget_nav_menu ul li a:hover, .widget_pages ul li a:hover {color: #615C5C;}

.post_meta ul,.hentry ul{padding-left: 20px;list-style-type: square;margin-left: 30px;}
.post_meta ul li,.hentry ul li{ list-style: inherit;}

#content.meta ul ul,.blog-desc ul ul {    list-style-type: decimal;}
#content .meta ul ul ul,.blog-desc ul ul ul{    list-style-type: decimal;}

.post_meta ol,.hentry ol{padding-left: 20px;list-style: decimal outside none !important;margin-left: 30px;}
.post_meta ol li,.hentry ol li{ list-style: inherit;}

.blog-post ul li ul, .blog-post ol li ol,.blog-fixed ul li ul  {
    margin-bottom: 0;
    margin-left: 1.25em;
}
.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {text-align: left;}
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 10px 19px;
}
blockquote cite {
  color: #ccc;
  display: block;
  font-size: 12px;
}
div.wp-caption.alignnone,img.alignnone,.blog-fixed div.wp-caption.alignnone img ,.blog-post div.wp-caption.alignnone img {
    width: 100% !important;
}
div.wp-caption.alignnone img{
    max-width: 100%;
}
.alignright,.alignleft,.aligncenter,div.alignleft img,div.alignright img{
    width: auto !important;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.alignleft{
    float: left;
    margin-right: 15px;
}
.aligncenter img{
    width: auto !important;
}
pre, code {
    background-color: #F9F9F9;
    border-color: rgba(180,180,180,1);
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    display: block;
    font-family: 'Open Sans', sans-serif;font-weight: 300;
    font-size: 14px;
    padding: 10px;
}

pre, code {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    word-wrap: break-word;
} 

#wp-calendar tfoot #prev,#wp-calendar tfoot #next{
    background: #f5f5f5;
    border: 1px solid #E9E9E9;
    text-align: center;
    padding: 6px;
}
div.tagcloud a{
    font-size: 15px !important;
}
footer a {
    line-height: 25px !important;
}
#position ul li {
    font-size: 14px !important;
}
#position ul li a{
    font-size: 15px !important;
}
.hentry p {
    margin-bottom: 20px !important;
}
.main-menu > ul {
    margin-top: -20px;
}
div.post table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}
.post h2 {
    font-size: 32px;
}
.table.table_summary #name_foodid{display: none;}
table.cart-list span.price input{
    width: 50%;
    border: none;
    background: none;
}
.custom-price{
    width: 20%;
}
 
/* Credit Card */
#fullstripe_custom_amount,#fullstripe_name,#payment-form-style div._50 input{
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#payment-form-style div._50 {
    width: 50%;
    float: left;
    padding: 10px;
    display: inline-block;
}
#payment-form-style div._25{
    width: 50%;
    float: left;
    padding: 10px;
    display: inline-block;
}

#payment-form-style div._100 img{
    margin-top: 15px;
}
#payment-form-style div._100 button{
    cursor: pointer;
    width: 50%;
    padding: 10px 10px;
    font-weight: 700;
    border: none;
    text-align: center;
    margin: 20px 121px;
    color: white;
    background: #ec008c;
    font-size: 15px;
}